{% extends 'MapsApp.template.base.html' %}

{% load static %}



{% block content %}
<div>Leaflet.js</div>
<div>NYC Borough</div>
<select id="filter"></select>
<div>Select DOT Service</div>
<select id="dot_services_filter"></select>
<div>Social Backdrop</div>
<select id="social_filter"></select>

<div id="testIncome"></div>

<div id="testMin"></div>

<div id="activeSocialBackdropLevels" class="dropdown dropright">
</div>

<div id='map_container'></div>
{% endblock %}




{% block custom_js %}
<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

<!-- For loading in static JSON files -->
<script src="https://d3js.org/d3-fetch.v2.min.js"></script>

<style>
    #map_container {
        height: 600px;
        width: 600px;
    }

    .float-container {
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }
</style>

<script>

    $(document).ready(async function () {


        // Initialize Leaflet, and set a long & lat as the center of the view (Long/Lat is abritrary, anywhere in the city that you deem good will do)
        var map = L.map("map_container").setView([40.703312, -73.97968], 10);

        // L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", { // Load in the open street map as the base layer
        L.tileLayer('https://maps{s}.nyc.gov/xyz/1.0.0/carto/basemap/{z}/{x}/{y}.jpg', {
            minNativeZoom: 8,
            maxNativeZoom: 19,
            subdomains: '1234',
            bounds: L.latLngBounds([39.3682, -75.9374], [42.0329, -71.7187]),
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);



        var layer_dict = {};
        var DOT_services_layers_dict = {};
        var social_layers_dict = {};
        // Load in the nyc geojson
        d3.json('/static/MapsApp/geojsons/nyc.geojson')
            .then(function (data) {
                let nycBoroLayer = L.geoJson(data, {
                    style: {
                        color: "#ff00000",
                        strokeColor: "red"
                    }
                }).addTo(map);

                // Creating the list for the dropdown
                const filterInput = document.getElementById('filter')
                const options = data.features.map(function (feature) {
                    return `<option value='${feature.properties.boro_name}'>${feature.properties.boro_name}</option>`
                }).join('')
                filterInput.innerHTML = '<option>All</option>' + options

                // Filter with selected value in the <select></select>
                filterInput.addEventListener('change', function () {
                    const value = filterInput.value

                    // Remove boro layer, and we will recreate the boro layer and add it back to the map
                    map.removeLayer(nycBoroLayer)

                    if (value === 'All') {
                        nycBoroLayer = L.geoJson(data, {
                            style: {
                                color: "#ff00000",
                                strokeColor: "red",
                                weight: 1
                            }
                        }).addTo(map)
                    } else {
                        let newData = {
                            "type": "FeatureCollection",
                            "features": data.features.filter(function (feature) { // Filtering happens here
                                return feature.properties.boro_name === value
                            })
                        }

                        // Re-add the boro layer (Now filtered down)
                        nycBoroLayer = L.geoJson(newData, {
                            style: {
                                color: "#ff00000",
                                strokeColor: "red",
                                weight: 1
                            }
                        }).addTo(map)
                    }
                })
                return nycBoroLayer;
            })
            .then(function (layer) {
                layer_dict['nycBoroLayer'] = layer;
            });

        // LOADING IN DOT SERVICES
        // Vision Zero Town Hall Locations
        d3.json('/static/MapsApp/geojsons/gisadmin.VZV_TOWN_HALL_LOCATIONS_epsg4326.geojson')
            .then(function (data1) {
                let layer = L.geoJson(data1, {
                    // Create a pop up text when you click on each element/feature
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup(feature.properties.BoroCD_code) // Access the geoJson['feature']['properties']['BoroCD_code'], take a look at static/MapsApp/geojsons/gisadmin.VZV_TOWN_HALL_LOCATIONS_epsg4326.geojson to see how the json file is formated, and you will understand this part
                    }
                });
                return layer;
            })
            .then(function (layer) {
                DOT_services_layers_dict['vzvLayer'] = layer;
            });

        // LOADING IN SOCIAL INFO
        // minority_percentage data
        d3.json('/static/MapsApp/geojsons/minority_percentage_nta.geojson')
            .then(function (data4) {
                let layer = L.geoJson(data4, {

                    style: function (feature, layer) {
                        return {

                            fillColor: '#' + getMinorityColor(feature.properties.avg_minority_percentage),
                            color: 'black',
                            weight: 1
                        }
                    }
                });
                return layer;
            })
            .then(function (layer) {
                social_layers_dict['minorityLayer'] = layer;
            });
        // income data
        d3.json('/static/MapsApp/geojsons/income_nta.geojson')
            .then(function (data3) {
                let layer = L.geoJson(data3, {

                    style: function (feature, layer) {
                        return {

                            fillColor: '#' + getColor(feature.properties.avg_income),
                            color: 'black',
                            weight: 1
                        }
                    }
                });
                return layer;
            })
            .then(function (layer) {
                social_layers_dict['incomeLayer'] = layer;
            });

        // source: https://gis.stackexchange.com/questions/68941/how-to-add-remove-legend-with-leaflet-layers-control
        //legend begin!
        var legendIncome = L.control({ position: 'bottomright' });
        var legendMin = L.control({ position: 'bottomleft' });

        legendIncome.onAdd = function (map) {

            var div = L.DomUtil.create('div', 'info legend'),
                grades = [0, 25000, 50000, 75000, 100000],
                colors = ['#FFFF00', '#FED976', '#FD8D3C', '#E31A1C', '#8B0000'];

            div.innerHTML += "<div>Income Levels</div>"
            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background-color:' + (colors[i]) + ';border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;">' + '</i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }

            return div;
        };

        legendMin.onAdd = function (map) {

            var div = L.DomUtil.create('div', 'info legend'),
                grades = [0, 33, 66],
                colors = ['#FFFF00', '#FD8D3C', '#8B0000'];

            div.innerHTML += "<div>Minority Percent</div>"
            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background-color:' + (colors[i]) + ';border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;">' + '</i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + "%" + '<br>' : '%+');
            }

            return div;
        };

        legendMin.addTo(map);
        legendIncome.addTo(map);
        //and so has a legend come to pass

        function getColor(income) {
            //const opts = ['100K+', '75K-100K', '50K-75K', '25K-50K', '<25K']
            // console.log("in getColor", document.getElementById("AllInc").checked)

            if (income >= 100000) { return '8B0000'; }
            else if (income < 100000 && income >= 75000) { return 'E31A1C'; }
            else if (income < 75000 && income >= 50000) { return 'FD8D3C'; }
            else if (income < 50000 && income >= 25000) { return 'FED976'; }
            else if (income < 25000) { return 'FFFF00'; }
            else { return '000000'; }


        }
        function getMinorityColor(perc) {

            if (perc >= 66) { return '8B0000'; }
            else if (perc < 66 && perc >= 33) { return 'FD8D3C'; }
            else if (perc < 33) { return 'FFFF00'; }
            //else { return 'black'; }
        }



        /*
        //select checkboxes for income avg
        const selectInc = document.getElementById('testIncome')


        selectInc.innerHTML += "<form>"
        const opts = ['100K+', '75K-100K', '50K-75K', '25K-50K', '<25K'].map(function (each
        ) {
            return `<input name ="income" value='${each}' type="checkbox" id='${each}'>${each}</input>`
        }).join('')
        selectInc.innerHTML += '<input name ="income" id="AllInc" type="checkbox" checked>All</input>' + opts + "</form>"

        //select minority percent
        const selectMin = document.getElementById('testMin')
        const opts2 = ['66%+', '33%-66%', '<33%'].map(function (each
        ) {
            return `<input value='${each}' type="checkbox">${each}</input>`
        }).join('')
        selectMin.innerHTML = '<input type="checkbox" checked>All</input>' + opts2
        */



        // Toggle between NTA and VZV Bike Layer
        // Creating the dropdown list
        const options = ['VZV Bike Priority Districts'].map(function (each) { // Create the drop down list
            return `<option value='${each}'>${each}</option>`
        }).join('')
        $("#dot_services_filter").html('<option>None</option>' + options);

        const options2 = ['Minority Data', 'Income Data'].map(function (each) { // Create the drop down list
            return `<option value='${each}'>${each}</option>`
        }).join('')
        $('#social_filter').html('<option>None</option>' + options2);

        var inc = document.getElementById('testIncome').value;
        console.log("inc! ", inc)


        // Filter with selected value in the dropdown list
        $("#dot_services_filter").change( function() {
            const value = $("#dot_services_filter").val()

            // Remove all layer from current Filter from map, and we will re-add the layers to the map base on the filter selection
            // Iterate through the DOT_services_layers_dict with access to its key and element
            Object.keys(DOT_services_layers_dict).map(function (key, index) {
                map.removeLayer(DOT_services_layers_dict[key])
            });

            // if (value === 'All') {
            //     Object.keys(DOT_services_layers_dict).map(function (key, index) {
            //         DOT_services_layers_dict[key].addTo(map)
            //     });
            // }
            if (value === 'None') {
                return //@TODO might move the map.remove layer here, and let things just keep getting added to the map when you select , and add the layer if it doesn't exists (This look promising: https://gis.stackexchange.com/questions/193711/how-to-check-if-a-leaflet-layer-is-already-added-on-the-map)
            } else if (value === 'VZV Bike Priority Districts') {
                DOT_services_layers_dict['vzvLayer'].addTo(map)
            } else {
                console.log(`layer not valid to add to map: '${value}'`)
            }
        })


        $('#social_filter').change( function() {
            const value = $('#social_filter').val();

            // Remove all layer from current Filter from map, and we will re-add the layers to the map base on the filter selection
            // Iterate through the social_layers_dict with access to its key and element
            Object.keys(social_layers_dict).map(function (key, index) {
                map.removeLayer(social_layers_dict[key])
            });

            $("#activeSocialBackdropLevels").html(``)

            // if (value === 'All') {
            //     Object.keys(social_layers_dict).map(function (key, index) {
            //         social_layers_dict[key].addTo(map)
            //     });
            // }
            if (value === 'None') {
                return //@TODO might move the map.remove layer here, and let things just keep getting added to the map when you select , and add the layer if it doesn't exists (This look promising: https://gis.stackexchange.com/questions/193711/how-to-check-if-a-leaflet-layer-is-already-added-on-the-map)
            } else if (value === 'Income Data') {
                social_layers_dict['incomeLayer'].addTo(map);
                $("#activeSocialBackdropLevels").html(`
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Income Level
                </button>
                <form>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <label class="dropdown-item"><input type="checkbox" />100K+</label>
                        <label class="dropdown-item"> <input type="checkbox" />75K-100K</label>
                        <label class="dropdown-item"> <input type="checkbox" />50K-75K</label>
                        <label class="dropdown-item"> <input type="checkbox" />25K-50K</label>
                        <label class="dropdown-item"> <input type="checkbox" />below 25K</label>
                        <label class="dropdown-item"><input type="checkbox" checked />All</label>
                        <div class="dropdown-divider"></div>
                        <div>
                            <button type="submit" class="btn btn-info">Filter</button>
                        </div>
                    </div>

                </form>
                `);
            } else if (value === 'Minority Data') {
                social_layers_dict['minorityLayer'].addTo(map);
                $("#activeSocialBackdropLevels").html(`
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Minority Percentage
                </button>
                <form>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <label class="dropdown-item"><input type="checkbox" />66%+</label>
                        <label class="dropdown-item"> <input type="checkbox" />33%-66%</label>
                        <label class="dropdown-item"> <input type="checkbox" />below 33%</label>
                        <label class="dropdown-item"><input type="checkbox" checked />All</label>
                        <div class="dropdown-divider"></div>
                        <div>
                            <button type="submit" class="btn btn-info">Filter</button>
                        </div>
                    </div>
                </form>
                `);
            } else {
                console.log(`layer not valid to add to map: '${value}'`)
            }
        });

    });

</script>
{% endblock %}