{% comment %} {% extends 'template.base.html' %} {% endcomment %}
{% comment %} {% block content %} {% endcomment %}
    <address>
        Department of Transportation<br />
        55 Water St,<br />
        New York, NY 10041<br />
        <br />
        <strong>For bug/glitch reports, or any questions/requests, please send an email!</strong><br />
        <strong>Email:</strong> <a href="mailto:Support@example.com">ykuang@dot.nyc.gov</a><br />
    </address>
{% comment %} {% endblock content %} {% endcomment %}

