<!-- templates/template.base.html -->
{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <!-- Default CSS framework - Fomantic UI -->
        <script src="{% static 'WebAppsMain/js/jquery/3.3.1/jquery.min.js' %}"></script>
        <script src="{% static 'WebAppsMain/fomantic-ui/2.8.8/semantic.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/fomantic-ui/2.8.8/semantic.min.css' %}">

        <!-- For getting CSRF Token from cookie on the front end -->
        <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/js-cookie/3.0.0/js-cookie@rc' %}"></script>

        <!-- For status light and loading modal -->
        <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/css/status_led.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/css/loadingModal.css' %}" />

        <!-- For the green background color of Cards -->
        <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/css/dot_color_scheme.css' %}" />


        {% block custom_css %}{% endblock %}

        {% if settings.SERVER_TYPE == "Dev" %}
            <div>This is a DEV Server</div>
        {% elif settings.SERVER_TYPE == "QA" %}
            <div>This is a QA Server</div>
        {% elif settings.SERVER_TYPE == 'Prod' %}
        {% else %}
            <div>Setting variable "SERVER_TYPE" is not recognized: '{{ settings.SERVER_TYPE }}'</div>
        {% endif %}

        {% block custom_header_msg %}{% endblock %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Performance Unit WebApps</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
    </head>

    <body>
        <nav class="ui inverted menu">
            <a class="item" href="{% block customize_logo_link %}{% endblock %}">
                <img src="{% static 'WebAppsMain/images/dot_logo.jpg' %}" alt="My image" style="height:30px; width: 50px">
            </a>

            <a class="item" href="http://dotanalytics01" style=" font-family:sans-serif;color:darkgrey; font-size: 15px;">
                DOT Analytics
            </a>
            <div class="item" style=" font-family:sans-serif;color:darkgrey; font-size: 15px;">
                >
            </div>
            <a class="item" href="{% block customize_home_link %}{% endblock %}" style=" font-family:sans-serif;color:darkgrey; font-size: 15px;">
                {% block customize_home_link_name %}{% endblock %}
            </a>
            <a class="item" href="{% block customize_about_link %}{% endblock %}" style=" font-family:sans-serif; color:darkgrey; font-size: 15px;">
                {% block customize_about_link_name %}{% endblock %}
            </a>
            <a class="item" href="{% block customize_contact_link %}{% endblock %}" style="font-family:sans-serif; color:darkgrey; font-size: 15px;">
                Contact
            </a>
            {% block customize_nav_items %}
            {% endblock %}

            <div class="right menu">
                <p class="item" style=" font-family:sans-serif;">Hello, {{user.username}}</p>
            </dvv>
        </nav>

        <div class="loadingmodal"></div>

        <div class="ui container">
        {% block content %}{% endblock %}
        {% block custom_js %}{% endblock %}
        </div>
    </body>
</html>