{% extends 'DailyPothole.template.base.html' %}


{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'PMU_DjangoWebApps/css/dot_color_scheme.css' %}" />
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<div class="container">
    <div class="jumbotron" style=" font-family:sans-serif;">
        <h1>RRM Daily Pothole</h1>
        <p class="lead">Welcome!</p>
    </div>




    <div class="card-columns">
        <div class="card DOT-theme-color">
            <div class="card-body">
                <div>
                    <h4 class="class-title font-weight-bold mb-2">Daily Pothole Data Entry</h4>
                </div>
            </div>

            <div class="view overlay">
                <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/820x485/data_entry_logo.png' %}" alt="Data Entry Logo">
                <a href="{% url 'dailypothole_data_collection_view' %}">
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

            <div class="card-body">
                <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px; color: white;" href="{% url 'dailypothole_data_collection_view' %}">Head Over &raquo;</a>
            </div>
        </div>

        {% if client_is_admin %}
            <div class="card DOT-theme-color">
                <div class="card-body">
                    <div>
                        <h4 class="class-title font-weight-bold mb-2">Daily Pothole Data Grid</h4>
                    </div>
                </div>

                <div class="view overlay">
                    <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/820x485/admin_logo.png' %}" alt="Data Grid Logo">
                    <a href="{% url 'dailypothole_data_grid_view' %}">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px; color: white;" href="{% url 'dailypothole_data_grid_view' %}">Head Over &raquo;</a>
                </div>
            </div>

            {% comment %}
            <div class="card DOT-theme-color">
                <div class="card-body">
                    <div>
                        <h4 class="class-title font-weight-bold mb-2">Admin Panel</h4>
                    </div>
                </div>

                <div class="view overlay">
                    <!-- CREDIT: <a href='https://pngtree.com/so/command'>command png from pngtree.com</a> -->
                    <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/820x485/admin_logo.png' %}" alt="Data Entry Logo">
                    <a href="{% url 'fleetdatacollection_adminpanel_view' %}">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px; color: white;" href="{% url 'fleetdatacollection_adminpanel_view' %}">Head Over &raquo;</a>
                </div>
            </div>
            {% endcomment %}
        {% endif %}
    </div>
</div>

</html>
{% endblock content %}