{% extends 'DailyPothole.template.base.html' %}

{% load static %}
{% load tz %}

{% block custom_css %}
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'PMU_DjangoWebApps/DataTables/datatables.css' %}" />
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            Daily Pothole Data Entry
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>


    {% for each in operation_list %}
        <div>{{ each }}</div>
    {% endfor %}
    <div>------------</div>
    {% for each in boro_list %}
        <div>{{ each }}</div>
    {% endfor %}
    <div>
        <div class="modal fade" id="modalNewRowForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Input Pothole Data</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div>Date of repair</div>
                        <div id="modalNewRowFormDateOfRepairInputBorder" class="md-form mb-5">
                            <input type="date" id="modalNewRowFormDateOfRepairInput">
                        </div>

                        <div>Select operation</div>
                        <div id="modalNewRowFormSelectOperationInputBorder" class="md-form mb-5">
                            <select id="modalNewRowFormSelectOperationInput">
                                {% for each in operation_list %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>Select borough</div>
                        <div id="modalNewRowFormSelectBoroughInputBorder" class="md-form mb-5">
                            <select id="modalNewRowFormSelectBoroughInput">
                                {% for each in boro_list %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>Enter pothole crew count</div>
                        <div id="modalNewRowFormPotholeCrewCountInputBorder" class="md-form mb-5">
                            <input id="modalNewRowFormPotholeCrewCountInput">
                        </div>

                        <div>Enter potholes repaired</div>
                        <div id="modalNewRowFormRegularHolesRepairedInputBorder" class="md-form mb-5">
                            <input id="modalNewRowFormRegularHolesRepairedInput">
                        </div>


                        <div>------------------------------------</div>
                        <div>Enter information for today's crews</div>

                        <div>Today's pothole crew count</div>
                        <div id="modalNewRowFormTodayPotholeCrewCountInputBorder" class="md-form mb-5">
                            <input id="modalNewRowFormTodayPotholeCrewCountInput">
                        </div>

                        <div>Date</div>
                        <div id="modalNewRowFormTodayDateInputBorder" class="md-form mb-5">
                            <input type="date" id="modalNewRowFormTodayDateInput">
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="modalNewRowFormAddButton" class="btn btn-default">Add</button>
                    </div>
                    <div id='successMsg'></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalNewRowForm">Input Pothole Data</a>
        </div>
    </div>

{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/js/CellEditSave.js' %}"></script>

    {% comment %} JS Datatable stuff {% endcomment %}
    <script>
        $(document).ready( function () {

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });

            // For row add, with support for only JS Datatable
            $('#modalNewRowFormAddButton').on("click", function() {

                let DateOfRepairInput           = $("#modalNewRowFormDateOfRepairInput").val()
                let SelectOperationInput        = $("#modalNewRowFormSelectOperationInput").val()
                let SelectBoroughInput          = $("#modalNewRowFormSelectBoroughInput").val()
                let PotholeCrewCountInput       = $("#modalNewRowFormPotholeCrewCountInput").val()
                let RegularHolesRepairedInput   = $("#modalNewRowFormRegularHolesRepairedInput").val()
                let TodayPotholeCrewCountInput  = $("#modalNewRowFormTodayPotholeCrewCountInput").val()
                let TodayDateInput              = $("#modalNewRowFormTodayDateInput").val()

                $('#modalNewRowFormDateOfRepairInputBorder'             ).css("border", "")
                $('#modalNewRowFormSelectOperationInputBorder'          ).css("border", "")
                $('#modalNewRowFormSelectBoroughInputBorder'            ).css("border", "")
                $('#modalNewRowFormPotholeCrewCountInputBorder'         ).css("border", "")
                $('#modalNewRowFormRegularHolesRepairedInputBorder'     ).css("border", "")
                $('#modalNewRowFormTodayPotholeCrewCountInputBorder'    ).css("border", "")
                $('#modalNewRowFormTodayDateInputBorder'                ).css("border", "")


                if (DateOfRepairInput == '') {
                    $('#modalNewRowFormDateOfRepairInputBorder').css("border", "2px solid red")
                    return
                }

                if (SelectOperationInput == '') {
                    $('#modalNewRowFormSelectOperationInputBorder').css("border", "2px solid red")
                    return
                }

                if (SelectBoroughInput == '') {
                    $('#modalNewRowFormSelectBoroughInputBorder').css("border", "2px solid red")
                    return
                }

                if (PotholeCrewCountInput == '') {
                    $('#modalNewRowFormPotholeCrewCountInputBorder').css("border", "2px solid red")
                    return
                }

                if (RegularHolesRepairedInput == '') {
                    $('#modalNewRowFormRegularHolesRepairedInputBorder').css("border", "2px solid red")
                    return
                }

                if (TodayPotholeCrewCountInput == '') {
                    $('#modalNewRowFormTodayPotholeCrewCountInputBorder').css("border", "2px solid red")
                    return
                }

                if (TodayDateInput == '') {
                    $('#modalNewRowFormTodayDateInputBorder').css("border", "2px solid red")
                    return
                }

                json_blob = {
                    "date_of_repair_input": DateOfRepairInput,
                    "select_operation_input": SelectOperationInput,
                    "select_borough_input": SelectBoroughInput,
                    "pothole_crew_count_input": PotholeCrewCountInput,
                    "regular_holes_repaired_input": RegularHolesRepairedInput,
                    "today_pothole_crew_count_input": TodayPotholeCrewCountInput,
                    "today_date_input": TodayDateInput,
                }

                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_update_potholes_data_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        /*
                        alert(`'${loginInput}' added to Users table successfully!`)

                        // Add the newly added row to the grid, and redraw
                        var rowNode = table.row.add( [ json_response.first_name, json_response.last_name, json_response.active_user, json_response.login, ] )
                        .draw()
                        .node();

                        // Add user_id to all child cells
                        $(rowNode).children().attr("data-id", json_response.user_id);
                        // Add the proper data-... attribute to the row
                        $(rowNode).children().each( (index, childNode) => {
                            if (index == 0) {
                                $(childNode).attr("data-table", "Users")
                                $(childNode).attr("data-column", "First_Name")
                                $(childNode).attr("class", "editable")
                            } else if (index == 1) {
                                $(childNode).attr("data-table", "Users")
                                $(childNode).attr("data-column", "Last_Name")
                                $(childNode).attr("class", "editable")
                            } else if (index == 2) {
                                $(childNode).attr("data-table", "Users")
                                $(childNode).attr("data-column", "Active_User")
                                $(childNode).attr("class", "editable-select")
                            } else if (index == 3) {
                                $(childNode).attr("data-table", "Users")
                                $(childNode).attr("data-column", "Login")
                            } else if (index == 4) {
                                // Nothing to add for the Delete icon
                            } else {
                                alert(`After adding a new row: Not sure what to do with child: ${childNode}`)
                                console.log(`After adding a new row: Not sure what to do with child: ${childNode}`)
                            }
                        })
                        // Add class to child cell with the delete icon
                        $(rowNode).find('.deletable').parent().addClass("text-center")

                        $(rowNode).css('color', 'green')
                        .animate( { color: 'black' } );
                        */
                        alert(JSON.stringify(json_response, null, 2))
                    }),
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
            })

        });
    </script>
{% endblock custom_js %}