{% extends 'DailyPothole.template.base.html' %}

{% load static %}
{% load tz %}
{% load extra_tags %}

{% block custom_css %}
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'PMU_DjangoWebApps/DataTables/datatables.css' %}" />
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            Daily Pothole Data Entry
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>


    <div>
        <div class="modal fade" id="modalNewRowForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% comment %} <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Input Pothole Data</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> {% endcomment %}
                    <div class="modal-body mx-3">
                        <div class="ui horizontal divider">Enter potholes data</div>

                        <div>Date of repair</div>
                        <div id="modalNewRowFormDateOfRepairInputBorder" class="ui input">
                            <input type="date" id="modalNewRowFormDateOfRepairInput" value="{{ -1|addDaysFromToday }}">
                        </div>

                        <div>Select operation</div>
                        <div id="modalNewRowFormSelectOperationInputForPotholeDataBorder">
                            <select id="modalNewRowFormSelectOperationInputForPotholeData" class="ui selection dropdown">
                                {% for each in operation_list %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>Select borough</div>
                        <div id="modalNewRowFormSelectBoroughInputForPotholeDataBorder">
                            <select id="modalNewRowFormSelectBoroughInputForPotholeData" class="ui selection dropdown">
                                {% for each in boro_list %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>Enter pothole crew count</div>
                        <div id="modalNewRowFormPotholeCrewCountInputBorder" class="ui input">
                            <input id="modalNewRowFormPotholeCrewCountInput">
                        </div>

                        <div>Enter potholes repaired</div>
                        <div id="modalNewRowFormRegularHolesRepairedInputBorder" class="ui input">
                            <input id="modalNewRowFormRegularHolesRepairedInput">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button id="modalNewRowFormAddButtonPotholeData" class="btn btn-default">Save Pothole Info</button>
                        </div>




                        <div class="ui horizontal divider">Enter information for today's crews</div>

                        <div>Today's pothole crew count</div>
                        <div id="modalNewRowFormTodayPotholeCrewCountInputBorder" class="ui input">
                            <input id="modalNewRowFormTodayPotholeCrewCountInput">
                        </div>

                        <div>Date</div>
                        <div id="modalNewRowFormTodayDateInputBorder" class="ui input">
                            <input type="date" id="modalNewRowFormTodayDateInput" value="{{ today }}">
                        </div>

                        <div>Select operation</div>
                        <div id="modalNewRowFormSelectOperationInputForTodayCrewBorder">
                            <select id="modalNewRowFormSelectOperationInputForTodayCrew" class="ui selection dropdown">
                                {% for each in operation_list %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>Select borough</div>
                        <div id="modalNewRowFormSelectBoroughInputForTodayCrewBorder">
                            <select id="modalNewRowFormSelectBoroughInputForTodayCrew" class="ui selection dropdown">
                                {% for each in boro_list %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button id="modalNewRowFormAddButtonTodayCrewData" class="btn btn-default">Save Today's Crew</button>
                        </div>
                    </div>
                    {% comment %} <div class="modal-footer d-flex justify-content-center">
                        <button id="modalNewRowFormAddButton" class="btn btn-default">Add</button>
                    </div> {% endcomment %}
                    <div id='successMsg'></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalNewRowForm">Input Pothole Data</a>
        </div>
    </div>

{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/js/CellEditSave.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/js/ApiCallWrappers.js' %}"></script>

    {% comment %} JS Datatable stuff {% endcomment %}
    <script>
        $(document).ready( function () {
            // Initializing the existing select divs into a dropdown menu for Formantic UI
            $('#modalNewRowFormSelectOperationInputForPotholeData').dropdown();
            $('#modalNewRowFormSelectBoroughInputForPotholeData').dropdown();
            $('#modalNewRowFormSelectOperationInputForTodayCrew').dropdown();
            $('#modalNewRowFormSelectBoroughInputForTodayCrew').dropdown();

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });

            $('#modalNewRowFormAddButtonPotholeData').on("click", function() {

                let DateOfRepairInput           = $("#modalNewRowFormDateOfRepairInput").val()
                let SelectOperationInput        = $("#modalNewRowFormSelectOperationInputForPotholeData").val()
                let SelectBoroughInput          = $("#modalNewRowFormSelectBoroughInputForPotholeData").val()
                let PotholeCrewCountInput       = $("#modalNewRowFormPotholeCrewCountInput").val()
                let RegularHolesRepairedInput   = $("#modalNewRowFormRegularHolesRepairedInput").val()

                $('#modalNewRowFormDateOfRepairInputBorder'             ).removeClass("error")
                $('#modalNewRowFormSelectOperationInputForPotholeData'  ).removeClass("error")
                $('#modalNewRowFormSelectBoroughInputForPotholeData'    ).removeClass("error")
                $('#modalNewRowFormPotholeCrewCountInputBorder'         ).removeClass("error")
                $('#modalNewRowFormRegularHolesRepairedInputBorder'     ).removeClass("error")


                if (DateOfRepairInput == '') {
                    $('#modalNewRowFormDateOfRepairInputBorder').addClass("error")
                    return
                }

                if (SelectOperationInput == '') {
                    $('#modalNewRowFormSelectOperationInputForPotholeData').addClass("error")
                    return
                }

                if (SelectBoroughInput == '') {
                    $('#modalNewRowFormSelectBoroughInputForPotholeData').addClass("error")
                    return
                }

                if (PotholeCrewCountInput == '') {
                    $('#modalNewRowFormPotholeCrewCountInputBorder').addClass("error")
                    return
                }

                if (RegularHolesRepairedInput == '') {
                    $('#modalNewRowFormRegularHolesRepairedInputBorder').addClass("error")
                    return
                }

                json_blob = {
                    "type_of_pothole_info": "PotholeData",
                    "date_of_repair_input": DateOfRepairInput,
                    "select_operation_input": SelectOperationInput,
                    "select_borough_input": SelectBoroughInput,
                    "pothole_crew_count_input": PotholeCrewCountInput,
                    "regular_holes_repaired_input": RegularHolesRepairedInput,
                    "today_pothole_crew_count_input": null,
                    "today_date_input": null,
                }

                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_update_potholes_data_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        alert(`data saved successfully!`)
                        //alert(JSON.stringify(json_response, null, 2))
                    }),
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
            })

            $('#modalNewRowFormAddButtonTodayCrewData').on("click", function() {

                let TodayPotholeCrewCountInput  = $("#modalNewRowFormTodayPotholeCrewCountInput").val()
                let TodayDateInput              = $("#modalNewRowFormTodayDateInput").val()
                let SelectOperationInput        = $("#modalNewRowFormSelectOperationInputForTodayCrew").val()
                let SelectBoroughInput          = $("#modalNewRowFormSelectBoroughInputForTodayCrew").val()

                $('#modalNewRowFormTodayPotholeCrewCountInputBorder'    ).removeClass("error")
                $('#modalNewRowFormTodayDateInputBorder'                ).removeClass("error")
                $('#modalNewRowFormSelectOperationInputForTodayCrew'    ).removeClass("error")
                $('#modalNewRowFormSelectBoroughInputForTodayCrew'      ).removeClass("error")


                if (TodayPotholeCrewCountInput == '') {
                    $('#modalNewRowFormTodayPotholeCrewCountInputBorder').addClass("error")
                    return
                }

                if (TodayDateInput == '') {
                    $('#modalNewRowFormTodayDateInputBorder').addClass("error")
                    return
                }

                if (SelectOperationInput == '') {
                    $('#modalNewRowFormSelectOperationInputForTodayCrew').addClass("error")
                    return
                }

                if (SelectBoroughInput == '') {
                    $('#modalNewRowFormSelectBoroughInputForTodayCrew').addClass("error")
                    return
                }

                json_blob = {
                    "type_of_pothole_info": "TodayCrewData",
                    "date_of_repair_input": null,
                    "select_operation_input": SelectOperationInput,
                    "select_borough_input": SelectBoroughInput,
                    "pothole_crew_count_input": null,
                    "regular_holes_repaired_input": null,
                    "today_pothole_crew_count_input": TodayPotholeCrewCountInput,
                    "today_date_input": TodayDateInput,
                }

                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_update_potholes_data_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        alert(`data saved successfully!`)
                        //alert(JSON.stringify(json_response, null, 2))
                    }),
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
            })

        });
    </script>
{% endblock custom_js %}