{% extends 'DailyPothole.template.base.html' %}

{% load static %}
{% load tz %}
{% load extra_tags %}

{% block custom_css %}
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'PMU_DjangoWebApps/DataTables/datatables.css' %}" />
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            FITS and Siebel Complaints input
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>


    <div>
        <div class="modal fade" id="modalNewRowForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body mx-3">
                        <div class="ui horizontal divider">Enter Complaints data</div>

                        <div>Complaint Date</div>
                        <div id="modalNewRowFormInputBorderComplaintDate" class="ui input">
                            <input type="date" id="modalNewRowFormInputComplaintDate" value="{{ today }}">
                        </div>

                        <div>FITS X (Bronx)</div>
                        <div id="modalNewRowFormInputBorderFITSBronx" class="ui input">
                            <input id="modalNewRowFormInputFITSBronx">
                        </div>

                        <div>FITS K (Brooklyn)</div>
                        <div id="modalNewRowFormInputBorderFITSBrooklyn" class="ui input">
                            <input id="modalNewRowFormInputFITSBrooklyn">
                        </div>

                        <div>FITS M (Manhattan)</div>
                        <div id="modalNewRowFormInputBorderFITSManhattan" class="ui input">
                            <input id="modalNewRowFormInputFITSManhattan">
                        </div>

                        <div>FITS Q (Queens)</div>
                        <div id="modalNewRowFormInputBorderFITSQueens" class="ui input">
                            <input id="modalNewRowFormInputFITSQueens">
                        </div>

                        <div>FITS R (Staten Island)</div>
                        <div id="modalNewRowFormInputBorderFITSStatenIsland" class="ui input">
                            <input id="modalNewRowFormInputFITSStatenIsland">
                        </div>

                        <div>Open Siebel Complaints</div>
                        <div id="modalNewRowFormInputBorderOpenSiebel" class="ui input">
                            <input id="modalNewRowFormInputOpenSiebel">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button id="modalNewRowFormAddButtonSubmitComplaintsData" class="btn btn-default">Save Today's Crew</button>
                        </div>
                    </div>
                    <div id='successMsg'></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalNewRowForm">Input Complaints data</a>
        </div>
    </div>


    <table class="table table-striped table-hover" id="JSDataTable">
        <thead>
            <tr>
                <th>Complaint Date</th>
                <th>FITS Complaints</th>
                <th>FITS Bronx</th>
                <th>FITS Brooklyn</th>
                <th>FITS Manhattan</th>
                <th>FITS Queens</th>
                <th>FITS Staten Island</th>
                <th>Siebel Complaints</th>
            </tr>
        </thead>

        <body id="JSDataTableBody">
            {% for entry in complaints %}
            <tr>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="ComplaintDate"     >{{ entry.complaint_date|date:"Y-m-d"   }}</td>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="FITSComplaints"    >{{ entry.fits_complaints               }}</td>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="FITSBronx"         >{{ entry.fits_bronx                    }}</td>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="FITSBrooklyn"      >{{ entry.fits_brooklyn                 }}</td>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="FITSManhattan"     >{{ entry.fits_manhattan                }}</td>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="FITSQueens"        >{{ entry.fits_queens                   }}</td>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="FITSStatenIsland"  >{{ entry.fits_staten_island            }}</td>
                <td data-entryComplaintId="{{ entry.pothole_master_id }}" data-table="tblComplaint" data-column="SiebelComplaints"  >{{ entry.siebel_complaints             }}</td>
            </tr>
            {% endfor %}
        </body>
    </table>


{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/js/CellEditSave.js' %}"></script>

    {% comment %} JS Datatable stuff {% endcomment %}
    <script>
        $(document).ready( function () {
            // Reset the default viewport from css class container to container-fluid
            $(".container").attr('class', 'container-fluid')


            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });


            // Add extra row to the HTML table's header for individual column filtering
            $('#JSDataTable thead tr').clone(true).appendTo( '#JSDataTable thead' );
            $('#JSDataTable thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );

                $( 'input', this ).on( 'keyup change', function() {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                });
            } );


            var table = $('#JSDataTable').DataTable({
                dom: 'Blfrtip',  // Look at the documention on the possible options: https://datatables.net/reference/option/dom
                buttons: [
                    {
                        extend: 'csv',
                        text: 'Download as CSV',
                    },
                ],
                orderCellsTop: true,
                fixedHeader: true,
                pageLength: 10,
                lengthMenu: [ 10, 25, 50, 75, 100 ]
            });


            $('#modalNewRowFormAddButtonSubmitComplaintsData').on("click", function() {

                let ComplaintDate       = $("#modalNewRowFormInputComplaintDate").val()
                let FITSBronx           = $("#modalNewRowFormInputFITSBronx").val()
                let FITSBrooklyn        = $("#modalNewRowFormInputFITSBrooklyn").val()
                let FITSManhattan       = $("#modalNewRowFormInputFITSManhattan").val()
                let FITSQueens          = $("#modalNewRowFormInputFITSQueens").val()
                let FITSStatenIsland    = $("#modalNewRowFormInputFITSStatenIsland").val()
                let OpenSiebel          = $("#modalNewRowFormInputOpenSiebel").val()

                $('#modalNewRowFormInputBorderComplaintDate'    ).removeClass("error")

                if (ComplaintDate == '') {
                    $('#modalNewRowFormInputBorderComplaintDate').addClass("error")
                    return
                }

                json_blob = {
                    "complaint_date": ComplaintDate,
                    "fits_bronx": FITSBronx,
                    "fits_brooklyn": FITSBrooklyn,
                    "fits_manhattan": FITSManhattan,
                    "fits_queens": FITSQueens,
                    "fits_staten_island": FITSStatenIsland,
                    "open_siebel": OpenSiebel,
                }

                //sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_update_potholes_data_api' %}", http_request_method="POST",
                sendModalFormDataToServer( json_blob=json_blob, api_url="", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        alert(`data saved successfully!`)
                        //alert(JSON.stringify(json_response, null, 2))
                    }),
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
            })

        });
    </script>
{% endblock custom_js %}