{% extends 'OrgChartPortal.template.base.html' %}

{% load static %}

{% block custom_css %}
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>

    {% comment %} For the jquery orgchart
        <link rel="stylesheet" type="text/css" href="{% static 'PMU_DjangoWebApps/OrgChart/3.1.1/jquery.orgchart.min.css' %}" />
        <style>
            #chartContainerId {
                position: relative;
                height: 420px;
                border: 1px solid #aaa;
                margin: 0.5rem;
                overflow: auto;
                text-align: center;
            }
        </style>
    {% endcomment %}
    <style>
        /* Move the button to the lower right part of the screen, in absolute position, meaning it won't move from there even if you scroll the screen */
        .buttons {
        position: absolute;
        bottom: 10px;
        right: 35px;
        }
  </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            Org Chart View
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>

    {% if client_is_admin %}
        <div id='chartContainerId'>
        </div>

        {% comment %} For the jquery orgchart
            <button id="resetInitialMasterOrgChartClick">Reset Org Chart</button>
            <br>
            <select id="PMSSelect">
                <option value="some_pms">some_pms</option>
            </select>
            <button id="resetOrgChartWithSelectedPMSClick">Find employee</button>
        {% endcomment %}



        <div class="ui vertical labeled icon buttons">
            {% comment %}  For d3 orgchart
                <button id="markNodeBtn" class="btn btn-action-button waves-effect waves-light"><i class="fas fa-highlighter"></i>
                        mark
                    </button>
                <br>

                <button id="markRootBtn" class="btn btn-action-button waves-effect waves-light"><i class="fas fa-route"></i>
                        mark root
                    </button>
                <br>

                <button id="clearAllSelectionBtn" class="btn btn-action-button waves-effect waves-light"><i class="fas fa-eraser"></i>
                        clear mark
                    </button>
                <br>
            {% endcomment %}

            <button id="addNode" class="green huge ui button">
                    <i class="edit outline icon"></i>
                    Add Node
                </button>
            <br />

            <button id="removeNode" class="red huge ui button">
                    <i class="eraser icon"></i>
                    Remove Node
                </button>
            <br />

            <button id="exportSvg" class="blue huge ui button">
                    <i class="save outline icon"></i>
                    Export SVG
                </button>
            <br>
        </div>

    {% endif %}


{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/js/ApiCallWrappers.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/d3js/d3/d3.v7.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/d3js/d3-org-chart/d3-org-chart@2.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/d3js/d3-flextree/2.0.0/d3-flextree.js' %}"></script>
    {% comment %} For the jquery orgchart
        <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/es6-promise/4.1.1/es6-promise.auto.min.js' %}"></script>
        <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/html2canvas/1.3.2/html2canvas.min.js' %}"></script>
        <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/jspdf/2.4.0/jspdf.umd.min.js' %}"></script>
        <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/OrgChart/3.1.1/jquery.orgchart.min.js' %}"></script>
    {% endcomment %}
    <script>
        $(document).ready( function () {
            /* For the jquery orgchart
                var emp_data_json_master
                var oc
                var oc_options = {
                    'nodeTitle': 'title'
                    ,'nodeContent': 'content'
                    ,'draggable': true
                    ,'pan': true
                    ,'zoom': true
                    ,'visibleLevel': 3
                    ,'exportButton': true
                    ,'exportFileextension': 'pdf'
                    ,'exportFilename': 'MyOrgChart'
                    ,'initCompleted': function($chart) {
                        $('#chartContainerId').scrollLeft( ($('#chartContainerId')[0].scrollWidth - $('#chartContainerId').width())/2 );
                    }
                }

                function setInitialMasterOrgChart() {
                    $(document).ajaxStart(function () {
                        $("body").addClass("loading");
                    })
                    .ajaxStop(function () {
                        $("body").removeClass("loading");
                    });

                    sentJsonBlobToApi( json_blob={}, api_url="{% url 'orgchartportal_get_commissioner_pms' %}", http_request_method="POST",
                        successCallbackFct=function(json_response) {
                            //alert(`data saved successfully!`)

                            let root_pms = json_response.post_data


                            let json_blob = {
                                root_pms: root_pms
                            }

                            sentJsonBlobToApi( json_blob=json_blob, api_url="{% url 'orgchartportal_get_emp_json' %}", http_request_method="POST",
                                successCallbackFct=function(json_response) {
                                    //alert(`data saved successfully!`)

                                    emp_data_json_master = json_response.post_data

                                    let options = {
                                        'data': emp_data_json_master
                                    }

                                    for (let i in oc_options) {
                                        options[i] = oc_options[i]
                                    }

                                    oc = $('#chartContainerId').orgchart(options);
                                },
                                failCallbackFct=function(json_response) {
                                    alert(JSON.stringify(json_response, null, 2))
                                }
                            )



                        },
                        failCallbackFct=function(json_response) {
                            alert(JSON.stringify(json_response, null, 2))
                        }
                    )
                }

                // find the object in the @tree_root that is equal to @lookup. Returns object if found, and null if not found
                function traverseAndFindRootByPMS(tree_root, lookup) {
                    if (tree_root['pms'] !== null) {
                        if (tree_root['pms'] == lookup)
                            return tree_root
                    }

                    for (let i in tree_root['children']) {
                        if (tree_root['children'][i] !== null && typeof(tree_root['children'][i]) == "object") { // Not null and it's a json object
                            //going one step down in the object tree_root!!
                            let child = traverseAndFindRootByPMS(tree_root['children'][i], lookup)
                            if (child !== null)
                                return child
                        }
                    }

                    return null
                }

                function refreshOrgChart(data) {
                    let options = {
                        'data': data
                    }

                    for (let i in oc_options) {
                        options[i] = oc_options[i]
                    }

                    oc.init(options)
                }

                setInitialMasterOrgChart()

                $('#resetInitialMasterOrgChartClick').click(function() {
                    oc.init(emp_data_json_master)
                })

                $("#resetOrgChartWithSelectedPMSClick").click(function() {
                    let pms = $("#PMSSelect").val()
                    let root = traverseAndFindRootByPMS(emp_data_json_master, pms)

                    if (root == null) {
                        alert(`${pms} not found`)
                    } else {
                        refreshOrgChart(root)
                    }
                })
            */

            var chart

            function setInitialMasterOrgChart() {
                $(document).ajaxStart(function () {
                    $("body").addClass("loading");
                })
                .ajaxStop(function () {
                    $("body").removeClass("loading");
                });

                sentJsonBlobToApi( json_blob={}, api_url="{% url 'orgchartportal_get_commissioner_pms' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        //alert(`data saved successfully!`)

                        let root_pms = json_response.post_data


                        let json_blob = {
                            root_pms: root_pms
                        }

                        sentJsonBlobToApi( json_blob=json_blob, api_url="{% url 'orgchartportal_get_emp_csv' %}", http_request_method="POST",
                                successCallbackFct=function(json_response) {
                                    //alert(`data saved successfully!`)

                                    let emp_data_csv_master = json_response.post_data
                                    let parsed_csv = d3.csvParse(emp_data_csv_master)

                                    // For reference to what to name your id and parent id column: https://github.com/bumbeishvili/org-chart/issues/88
                                    chart = new d3.OrgChart().nodeId(d => d.pms)
                                        .parentNodeId(d => d.sup_pms)
                                        .container('#chartContainerId')
                                        .data(parsed_csv)
                                        .nodeHeight(d => 120)
                                        .nodeWidth(d => 220)
                                        .childrenMargin(d => 50)
                                        .compactMarginBetween(d => 50)
                                        .compactMarginPair(d => 50)
                                        .neightbourMargin((a,b) => 25)
                                        .siblingsMargin(d => 25)
                                        .buttonContent(({node, state}) => {
                                            return `<div style="px;color:#716E7B;border-radius:5px;padding:4px;font-size:10px;margin:auto auto;background-color:white;border: 1px solid #E4E2E9"> <span style="font-size:9px">${
                                                    node.children
                                                        ? `<i class="fas fa-angle-up"></i>`
                                                        : `<i class="fas fa-angle-down"></i>`
                                                }</span> ${node.data._directSubordinates} / ${node.data._totalSubordinates} </div>`
                                        })
                                        // linkUpdate sets the color of the lines between nodes when selected
                                        .linkUpdate(function(d, i, arr) {
                                            //console.log(d.data)
                                            d3.select(this)
                                                .attr('stroke', d =>
                                                    d.data._upToTheRootHighlighted ? '#152785' : '#E4E2E9'
                                                )
                                                .attr('stroke-width', d =>
                                                    d.data._upToTheRootHighlighted ? 5 : 1
                                                )

                                            if (d.data._upToTheRootHighlighted) {
                                                d3.select(this).raise()
                                            }
                                        })
                                        // nodeUpdate sets the color of the nodes when selected
                                        .nodeUpdate(function(d, i, arr) {
                                            d3.select(this)
                                                .select('.node-rect')
                                                .attr("stroke", d => d.data._highlighted || d.data._upToTheRootHighlighted ? '#00FF2A' : 'none')
                                                .attr("stroke-width", d.data._highlighted || d.data._upToTheRootHighlighted ? 40 : 1)
                                        })
                                        .nodeContent(function(d, i, arr, state) {
                                            const default_color = '#FFFFFF'
                                            return `
                                            <div style="font-family: 'Inter', sans-serif;background-color:${default_color}; position:absolute;margin-top:-1px; margin-left:-1px;width:${d.width}px;height:${d.height}px;border-radius:10px;border: 1px solid #E4E2E9">
                                                <div style="background-color:${default_color};position:absolute;margin-top:-25px;margin-left:${15}px;border-radius:100px;width:50px;height:50px;" ></div>
                                                <img src="{% static 'PMU_DjangoWebApps/images/dot_logo.jpg' %}" style="position:absolute;margin-top:-20px;margin-left:${20}px;border-radius:100px;width:40px;height:40px;" />

                                                <div style="color:#08011E;position:absolute;right:20px;top:17px;font-size:10px;"><i class="fas fa-ellipsis-h"></i></div>

                                                <div style="font-size:15px;color:#08011E;margin-left:20px;margin-top:32px"> ${
                                                    d.data.last_name + ', ' + d.data.first_name
                                                } </div>
                                                <div style="color:#716E7B;margin-left:20px;margin-top:3px;font-size:10px;"> ${
                                                    d.data.office_title
                                                } </div>
                                                <div style="color:#716E7B;margin-left:20px;margin-top:3px;font-size:10px;"> ${
                                                    d.data.civil_title
                                                } </div>
                                                <div style="color:#716E7B;margin-left:20px;margin-top:3px;font-size:10px;"> ${
                                                    d.data.wu_desc
                                                } </div>


                                            </div>
                                            `
                                        })
                                        .onNodeClick(function(d) { // d is the pms number of the clicked node
                                            // Highlight the current selected node, and unhighlight the rest.
                                            chart.clearHighlighting()
                                            chart.setHighlighted(d).render()
                                            // Remove all event listener of the #addNode button
                                            $("#addNode").unbind()

                                            $("#addNode").click(function() {
                                                //console.log(`event click: ${d}`)
                                                let random_7_digit = Math.floor(Math.random() * 10000000)
                                                //console.log(`random generated: ${random_7_digit}`)
                                                let emp = {
                                                    pms             :`null_${random_7_digit}` // Generate a 7 digit number, preceded by 'null_' to indicate that it's a manually added node
                                                    ,sup_pms        :d
                                                    ,first_name     :'Test_First_Name'
                                                    ,last_name      :'Test_Last_Name'
                                                    ,office_title   :'OL Lady'
                                                    ,civil_title    :'test_civil_title'
                                                    ,wu_desc        :'test_wu_desc'
                                                }
                                                addNode(emp)
                                            })


                                            $("#removeNode").unbind()

                                            $("#removeNode").click(function() {
                                                removeNode(d)
                                            })
                                        })
                                        .render();
                                        //console.log(parsed_csv)
                                        //console.log(chart)


                                },
                                failCallbackFct=function(json_response) {
                                    alert(JSON.stringify(json_response, null, 2))
                                }
                            )

                    },
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
                )
            }

            setInitialMasterOrgChart()


            /* For d3 orgchart
                function selectNode(pms) {
                    chart.setHighlighted("some_pms").render()
                }

                function clearAllSelection() {
                    chart.clearHighlighting()
                }

                function setUpToTheRootHighlight() {
                    chart.setUpToTheRootHighlighted(root_pms).render().fit()
                }

                $("#markNodeBtn").click(function() {
                    selectNode('some_pms')
                })

                $("#markRootBtn").click(function() {
                    setUpToTheRootHighlight()
                })

                $("#clearAllSelectionBtn").click(function() {
                    clearAllSelection()
                })
            */

            function addNode(emp) {
                chart.addNode(
                        {
                            sup_pms:        emp.sup_pms
                            ,pms:           emp.pms
                            ,first_name:    emp.first_name
                            ,last_name:     emp.last_name
                            ,office_title:  emp.office_title
                            ,civil_title:   emp.civil_title
                            ,wu_desc:       emp.wu_desc
                        }
                    )
                    .setExpanded(emp.pms)
                    .setCentered(emp.sup_pms)
                    .render()
            }


            function removeNode(emp_pms) {
                chart.removeNode(emp_pms)
            }


            function exportSvg() {
                chart.exportSvg()
            }

            $("#exportSvg").click(function() {
                exportSvg()
            })



        });
    </script>
{% endblock custom_js %}