.webGridBtn.webGridBtn-Success {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    transition: all 0.2s;
}

.webGridBtn.webGridBtn-Success:hover {
    color: #FFFFFF;
    background-color: #4f6228;
}

.webGridBtn.webGridBtn-Warning {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    transition: all 0.2s;
}

    .webGridBtn.webGridBtn-Warning:hover {
        color: #FFFFFF;
        background-color: #980404;
    }   

@media all and (max-width:30em) {
    .webGridBtn.webGridBtn-Success {
        display: block;
        margin: 0.4em auto;
    }
    .webGridBtn.webGridBtn-Warning:hover {
        display: block;
        margin: 0.4em auto;
    }
}
