{% extends 'PerInd.template.base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'PMU_DjangoWebApps/DataTables/datatables.css' %}" />
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            User Permissions Panel
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>

    <!-- Add new row button and modal form -->
    <div>
        <div class="modal fade" id="modalNewRowForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Add new permission</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div>Select Login</div>
                        <div id="modalNewRowFormLoginSelectBorder" class="md-form mb-5">
                            <select id="modalNewRowFormLoginSelect" class="browser-default custom-select">
                                <option></option>

                                {% for each in users_list %}
                                <option>{{ each.login }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>Select Category</div>
                        <div id="modalNewRowFormCategorySelectBorder" class="md-form mb-4">
                            <select id="modalNewRowFormCategorySelect" class="browser-default custom-select">
                                <option></option>

                                {% for each in categories_list %}
                                <option>{{ each.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="modalNewRowFormAddButton" class="btn btn-default">Add</button>
                    </div>
                    <div id='successMsg'></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalNewRowForm">Add a new permission</a>
        </div>
    </div>

    <!--admin access control web grid-->
    <table class="table table-striped table-hover" id="WebGridTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Active User</th>
                <th>Login</th>
                <th>Category</th>
                <th>Delete?</th>
            </tr>
        </thead>

        <tbody>
            {% for entry in permission_data_entries %}
            <tr>
                <td data-id="{{ entry.user_permission_id }}" data-table="Users" data-column="First_Name">{{ entry.user.first_name }}</td>
                <td data-id="{{ entry.user_permission_id }}" data-table="Users" data-column="Last_Name">{{ entry.user.last_name }}</td>
                <td data-id="{{ entry.user_permission_id }}" data-table="Users" data-column="Active_User">{{ entry.user.active_user }}</td>
                <td data-id="{{ entry.user_permission_id }}" data-table="Users" data-column="Login">{{ entry.user.login }}</td>
                <td data-id="{{ entry.user_permission_id }}" data-table="Category" data-column="Category_Name">{{ entry.category.category_name }}</td>
                <td class="text-center" data-id="{{ entry.user_permission_id }}" ></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--End admin access control web grid-->
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'PMU_DjangoWebApps/js/CellEditSave.js' %}"></script>

    <script>
        $(document).ready( function () {

            var table = $('#WebGridTable').DataTable({ // Set the default column content for the last column on the right side of the html table defined above
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<a class="deletable"><i class="fas fa-trash-alt"></i></a>'
                }]
            });

            {% comment %}
                // Example codes showing how CellEditSave.js works with the html table
                // For cell edit mode
                $(document).on("dblclick", ".editable", function () {
                    enterCellEditMode($(this))
                });

                $(document).on("keyup", ".input-data", function (e) {
                    var key = e.which;
                    if (key === 13) { // 13 is the return key, aka 'ENTER' key
                        sendCellToServer(this, "/PerInd/user_permissions_panel_api_update_data", "input", function(td_node, json_response) {
                            console.log(`Hi, call back called sendCellToServer(): ${json_response.post_msg}`)
                        });
                    }
                    if (key === 27) { // 27 is the ESC key
                        cancelEditMode(this);
                    }
                });

                // For cell select mode
                $(document).on("dblclick", ".editable-select", function () {
                    logins_array = {{ user_logins_json|safe }}
                    // Move current select element to the top of the array
                    var current_value = $(this).text()
                    logins_array.sort(function(x, y) {
                        return x == current_value ? -1 : y == current_value ? 1 : 0;
                    });
                    enterCellEditSelectMode($(this), logins_array)
                });

                $(document).on("keyup", ".input-data-select", function (e) {
                    var key = e.which;
                    if (key === 27) { // 27 is the ESC key
                        cancelSelectMode(this);
                    }
                });

                $(document).on("change", ".input-data-select", function () {
                    sendCellToServer(this, "/PerInd/user_permissions_panel_api_update_data", "select");
                });
            {% endcomment %}

            //$('.deletable').on("click", function() { // This doesn't seem to work, because the delegation is left to $(".deletable") selector, which haven't been created yet at this point when this code is reached by the compiler
            $('#WebGridTable').on("click", ".deletable", function() { // This seems to work because eh delegation is left to $("#WebGridTable") selector, which has been created at this point. Ref: https://stackoverflow.com/questions/6658752/click-event-doesnt-work-on-dynamically-generated-elements
                if (confirm(`Are you sure you want to delete '${$(this).parent().parent().find(`[data-column='Category_Name']`).html()}' from '${$(this).parent().parent().find(`[data-column='Login']`).html()}'?`)) {
                    user_permission_id = $(this).parent().attr('data-id')
                    json_blob = {
                        'user_permission_id': user_permission_id
                    }

                    props = {
                        'table': table,
                        'tr_row': $(this).parent().parent()
                    }

                    deleteRecordToServer( json_blob, 'user_permissions_panel_api_delete_row', function(json_response, props) {
                        // successful api call
                        table = props['table']
                        tr_row = props['tr_row']
                        table.row(tr_row).remove().draw();

                        return;
                    }, function(json_response, props) {
                        // On failed api calls do nothing.
                        return;
                    }, function(jqXHR, props) {
                        // On failed ajax request do nothing.
                        return;
                    },
                    props)
                }

            })

            $('#modalNewRowFormAddButton').on("click", function() {
                let loginSelect = $("#modalNewRowFormLoginSelect").val()
                let categorySelect = $("#modalNewRowFormCategorySelect").val()

                $('#modalNewRowFormLoginSelectBorder').css("border", "")
                $('#modalNewRowFormCategorySelectBorder').css("border", "")

                if (loginSelect == '') {
                    $('#modalNewRowFormLoginSelectBorder').css("border", "2px solid red")
                    return
                }

                if (categorySelect == '') {
                    $('#modalNewRowFormCategorySelectBorder').css("border", "2px solid red")
                    return
                }

                json_blob = {
                    "login_selection": loginSelect,
                    "category_selection": categorySelect,
                }

                sendModalFormDataToServer( json_blob, "user_permissions_panel_api_add_row", function(json_response) {
                    alert(`'${loginSelect}' granted access to '${categorySelect}' successfully!`)

                    // Add the newly added row to the grid, and redraw
                    var rowNode = table.row.add( [ json_response.first_name, json_response.last_name, json_response.active_user, json_response.login, json_response.category_name, ] )
                    .draw()
                    .node();

                    // Add permission_id to all child cells
                    $(rowNode).children().attr("data-id", json_response.permission_id);
                    // Add the proper data-... attribute to the row
                    $(rowNode).children().each( (index, childNode) => {
                        if (index == 0) {
                            $(childNode).attr("data-table", "Users")
                            $(childNode).attr("data-column", "First_Name")
                        } else if (index == 1) {
                            $(childNode).attr("data-table", "Users")
                            $(childNode).attr("data-column", "Last_Name")
                        } else if (index == 2) {
                            $(childNode).attr("data-table", "Users")
                            $(childNode).attr("data-column", "Active_User")
                        } else if (index == 3) {
                            $(childNode).attr("data-table", "Users")
                            $(childNode).attr("data-column", "Login")
                        } else if (index == 4) {
                            $(childNode).attr("data-table", "Category")
                            $(childNode).attr("data-column", "Category_Name")
                        } else if (index == 5) {
                            // Nothing to add for the Delete icon
                        } else {
                            alert(`After adding a new row: Not sure what to do with child: ${childNode}`)
                            console.log(`After adding a new row: Not sure what to do with child: ${childNode}`)
                        }
                    })
                    // Add class to child cell with the delete icon
                    $(rowNode).find('.deletable').parent().addClass("text-center")

                    $(rowNode).css('color', 'green')
                    .animate( { color: 'black' } );
                })
            })

        });
    </script>
{% endblock custom_js %}