{% extends 'template.base.html' %}
<!-- Will contain the template for the WebGrid html -->


{% block content %}

<div>Permission: {% for each in category_permissions %}{{each}}, {% endfor %}</div>
<div class="status_info led_light">Database Status: {% if req_success %}<div class='led_green'></div>{% else %}<div class='led_red'></div>{% endif %}</div>
<div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>If this continues, find out who to contact in the Contact Page. {% else %}{% endif %}</div>

<div class="table">
<table class="table">
    <tr>
        <th>Record Id</th>
        <th>City wide value</th>
        <th>Created date</th>
        <th>Updated date</th>
        <th>Indicator Title</th>
        <th>Year</th>
        <th>Month</th>
        <th>Last updated by</th>
    </tr>
    {% for entry in indicator_data_entries %}
    <tr>
        <td>{{ entry.record_id }}</td>
        <td class="editable" data-id="{{ entry.record_id }}" data-table="IndicatorData", data-column="val">{{ entry.val }}</td>
        <td>{{ entry.created_date }}</td>
        <td>{{ entry.updated_date }}</td>
        <td>{{ entry.indicator }}</td>
        <td>{{ entry.year_month.yyyy }}</td>
        <td>{{ entry.year_month.mm }}</td>
        <td>{{ entry.update_user }}</td>
    </tr>
    {% endfor %}


</table>
</div>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        $(document).on("dblclick", ".editable", function(){
            var value = $(this).text();
            var input = "<input type='text' class='input-data' value='"+value+"' class='form-control'>";
            $(this).html(input);
            $(this).removeClass("editable");
        });

        // $(document).on("blur", ".input-data", function(){
        //     var value = $(this).val();
        //     var td = $(this).parent("td");
        //     $(this).remove();
        //     td.html(value);
        //     td.addClass("editable");
        // });

        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            // console.log(key)
            if(key==13){ // 13 is the return key, aka 'ENTER' key
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                // @TODO: If sendToServer() fails, need to know original value to write back to.
                sendToServer(td.data("id"), value, td.data("table"), td.data("column"));
            }
        });

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sendToServer(id, value, table, column){
            console.log(id, value, table, column);

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });

            $.ajax({
                url: "/PerInd/save_perind_data_api",
                type: "POST",
                data: {
                    id: id,
                    value: value,
                    table: table,
                    column: column,
                },
            })
            .done(function(response){
                console.log(response)
            })
            .fail(function(){
                console.log("Ajax Post: Error Occured.")
                alert("Ajax Post: Error Occured.")
            });
        };
    })
</script>
{% endblock %}