{% extends 'PerInd.template.base.html' %}


{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'PMU_DjangoWebApps/css/dot_color_scheme.css' %}" />
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<div class="container">
    <div class="jumbotron" style=" font-family:sans-serif;">
        <h1>Performance Indicator Portal</h1>
        <p class="lead">Welcome!</p>
        <p class="lead">We track DOT's various Indicators and create PowerBI reports for consumption.</p>
    </div>




    <div class="card-deck">
        <div class="card DOT-theme-color">
            <div class="card-body">
                <div>
                    <h4 class="class-title font-weight-bold mb-2">Data Entry</h4>
                </div>
            </div>

            <div class="view overlay">
                <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/data_entry_logo.png' %}" alt="Data Entry Logo">
                <a href="{% url 'perind_webgrid_view' %}">
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

            <div class="card-body">
                <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px; color: white;" href="{% url 'perind_webgrid_view' %}">Head Over &raquo;</a>
            </div>
        </div>

        <div class="card DOT-theme-color">
            <div class="card-body">
                <div>
                    <h4 class="class-title font-weight-bold mb-2">Dashboard Reports</h4>
                </div>
            </div>

            <div class="view overlay">
                <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/report_logo.png' %}" alt="Reporting Logo">
                <a href="#!" onClick="MyWindow=window.open('https://app.powerbigov.us/groups/663659b7-5b41-48b1-9d00-4c7170319cca/reports/52721a1a-9737-48f2-bbce-3acedf782629/ReportSection?openDashboardSource=SubscribeOthers&ctid=21c62253-c3dd-4661-9659-cd01aff2d452','_blank'); return false;">
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

            <div class="card-body">
                <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px" href="#!" onClick="MyWindow=window.open('https://app.powerbigov.us/groups/663659b7-5b41-48b1-9d00-4c7170319cca/reports/52721a1a-9737-48f2-bbce-3acedf782629/ReportSection?openDashboardSource=SubscribeOthers&ctid=21c62253-c3dd-4661-9659-cd01aff2d452','_blank'); return false;">Head Over &raquo;</a>
            </div>

        </div>
        {% if client_is_admin %}
            <div class="card DOT-theme-color">
                <div class="card-body">
                    <div>
                        <h4 class="class-title font-weight-bold mb-2">Past-Dued Indicators Report</h4>
                    </div>
                </div>

                <div class="view overlay">
                    <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/data_entry_logo.png' %}" alt="Data Entry Logo">
                    <a href="{% url 'perind_pastdueindicators' %}">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px; color: white;" href="{% url 'perind_pastdueindicators' %}">Head Over &raquo;</a>
                </div>

            </div>
        {% endif %}
    </div>
</div>

</html>
{% endblock content %}