{% extends 'PerInd.template.base.html' %}

{% load static %}

{% block custom_css %}
{% endblock %}

{% block content %}
    <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    {% if client_is_admin %}
        <div class="card-columns">

            <div class="card DOT-theme-color">
                <div class="card-body">
                    <div>
                        <h4 class="class-title font-weight-bold mb-2">User Permissions Panel</h4>
                    </div>
                </div>

                <div class="view overlay">
                    <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/512x512/user_permissions.png' %}" alt="User Permissions Panel Logo">
                    <a href="{% url 'perind_userpermissionspanel' %}">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px; color: white;" href="{% url 'perind_userpermissionspanel' %}">Head Over &raquo;</a>
                </div>
            </div>

            <div class="card DOT-theme-color">
                <div class="card-body">
                    <div>
                        <h4 class="class-title font-weight-bold mb-2">Users Panel</h4>
                    </div>
                </div>

                <div class="view overlay">
                    <img class="card-img-top bg-white" src="{% static 'PMU_DjangoWebApps/images/512x512/users.png' %}" alt="User Permissions Panel Logo">
                    <a href="{% url 'perind_userspanel' %}">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a class="btn btn-primary" style="font-family:sans-serif; font-size: 15px; color: white;" href="{% url 'perind_userspanel' %}">Head Over &raquo;</a>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock content %}

{% block custom_js %}
{% endblock custom_js %}