
<div class="pagination">
    <span class="step-links">
        {% if indicator_data_entries.has_previous %}
        <a href="?page={{ indicator_data_entries.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            HTMLPage {{ indicator_data_entries.number }} of {{ indicator_data_entries.paginator.num_pages }}.
        </span>
        {% if indicator_data_entries.has_next %}
        <a href="?page={{ indicator_data_entries.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

<span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    {% if indicator_data_entries.has_next %}
    <a href="?page={{ indicator_data_entries.next_page_number }}">Next</a>
    {% endif %}
</span>