{% extends 'template.base.html' %}
<!-- templates/template.home.html-->
{% block content %}
    <address>
        Department of Transportation<br />
        55 Water St,<br />
        New York, NY 10041<br />
        <br />
        <strong>Bug Reports, please send an email!</strong><br />
        <strong>Email:</strong> <a href="mailto:Support@example.com">ykuang@dot.nyc.gov</a><br />
        <strong>Request for new/change/activate/deactivate Indicator Title, please send an email!</strong><br />
        <strong>Email:</strong> <a href="mailto:Support@example.com">ykuang@dot.nyc.gov</a><br />
    </address>
{% endblock content %}

