{% extends 'UserManagement.template.base.html' %}


{% load static %}
{% block custom_css %}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<div class="container">
    <div class="ui huge message">
        <h1 class="ui huge header">User Management</h1>
        <p>Welcome!</p>
    </div>


    {% if client_is_admin %}
        <div class="ui link cards">

            <a class="ui card" href="{% url 'UserManagement_manage_web_apps_view' %}">
                <div class="image" >
                    <img class="DOT-theme-color" src="{% static 'WebAppsMain/images/820x485/admin_logo.png' %}">
                </div>

                <div class="content">
                    <div class="header">
                        Manage Web Apps
                    </div>
                    <div class="ui primary button">Head Over &raquo;</div>
                </div>
            </a>

        </div>
    {% else %}
        <div class="status_info error_msg">{{user.username}} is not an Admin<div>
    {% endif %}

</div>

</html>
{% endblock content %}