{% extends 'FleetDataCollection.template.base.html' %}

{% load static %}

{% block custom_css %}
{% endblock %}

{% block content %}
    <div class="status_info error_msg">{% if not get_success %} Error: '{{ get_error }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    {% if client_is_admin %}
        <div class="ui link cards">

            <a class="ui card" href="{% url 'fleetdatacollection_wupermissionspanel_view' %}">
                <div class="image" >
                    <img src="{% static 'WebAppsMain/images/512x512/user_permissions.png' %}">
                </div>

                <div class="content">
                    <div class="header">
                        Work Unit Permissions Panel
                    </div>
                    <div class="ui primary button">Head Over &raquo;</div>
                </div>
            </a>

            <a class="ui card" href="{% url 'fleetdatacollection_domicilepermissionspanel_view' %}">
                <div class="image" >
                    <img src="{% static 'WebAppsMain/images/512x512/users.png' %}">
                </div>

                <div class="content">
                    <div class="header">
                        Domicile Permissions Panel
                    </div>
                    <div class="ui primary button">Head Over &raquo;</div>
                </div>
            </a>

        </div>
    {% endif %}
{% endblock content %}

{% block custom_js %}
{% endblock custom_js %}