{% extends 'template.base.html' %}

{% block customize_logo_link %}
    {% url 'fleetdatacollection_home_view' %}
{% endblock %}

{% block customize_home_link %}
    {% url 'fleetdatacollection_home_view' %}
{% endblock %}
{% block customize_home_link_name %}
    Fleet Data Collection Home
{% endblock %}

{% block customize_about_link %}
    {% url 'fleetdatacollection_about_view' %}
{% endblock %}
{% block customize_about_link_name %}
    About
{% endblock %}

{% block customize_contact_link %}
    {% url 'fleetdatacollection_contact_view' %}
{% endblock %}

{% block customize_nav_items %}
{% endblock %}