{% extends 'OrgChartPortal.template.base.html' %}

{% load static %}

{% block custom_css %}
    <!-- You MUST include jQuery before Fomantic -->
    <script src="{% static 'WebAppsMain/js/jquery/3.3.1/jquery.min.js' %}"></script>
    <script src="{% static 'WebAppsMain/fomantic-ui/2.8.7/semantic.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/fomantic-ui/2.8.7/semantic.min.css' %}">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/DataTables/datatables.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-theme-alpine.css' %}">

    <style>
        /* This is needed to allow AG Grid's css percentage height to work. Reason being that its parent div must also have a percentage height to contain it correctly, otherwise AG Grid will collapse to nothing */
        .container-fluid {
            height: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            Org Chart Portal
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>

    {% comment %} Side Bar {% endcomment %}
    {% comment %} <div>
        <div class="ui secondary labeled icon toggle button" id="left-sidebar-toggle">
            <i class="left arrow icon"></i>
            Show my profile (Hide/Show)
        </div>
        <div class="ui inverted left vertical sidebar menu">
            <div id='client_wu_permissions_info'>
                <p class='active item'>My WU Permissions</p>
            </div>

            <div id='client_data_entry_team_info'>
                <p class='active item'>My Data Entry Team</p>
            </div>

            <p class="active item">*To add someone to your data entry team, please email: <br>** Max Siegel<br>(msiegel@dot.nyc.gov) or <br>** Yi Zong Kuang<br>(ykuang@dot.nyc.gov)</p>
        </div>
    </div> {% endcomment %}

    {% comment %} AG Grid {% endcomment %}
    <div id="AGGrid" class="ag-theme-alpine" style="height: 100%; width: 100%;"></div>

    {% comment %} Footer {% endcomment %}
    {% comment %} <div>
        <div>Supervisor Field Complete</div>
        <div>OfficeTitle Field Complete</div>
        <div>Refresh button??? or just ask user to refresh page?</div>
        <div>Last Time List's Been Updated:</div>
        <div>List Last Updated By:</div>
        <div>Inactive Supervisor Stuff</div>
        <div>Empty or Invalid Floor Combination with WorkLocation: Floor needs updating</div>
        <div>Empty or Invalid SiteType Combination with WorkLocation and Floor: SiteType needs updating</div>
    </div> {% endcomment %}

{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/CellEditSave.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/ApiCallWrappers.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-grid-community.min.noStyle.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/HTMLElementGenerators.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/AGGridCustomExtensions.js' %}"></script>

    {% comment %} AG Grid stuff {% endcomment %}
    <script>
        var emp_col_def     = {{ emp_entry_columns_json|safe }};
        var emp_data        = {{ emp_entries_json|safe }};
        var sup_dropdown    = {{ supervisor_dropdown_list_json|safe }}; // It's very important that this list is unique by pms!
        var site_dropdown    = {{ site_dropdown_list_json|safe }};
        // Add a dummy object for empty superivor full name in the sort of the select list
        sup_dropdown.push({'pms': null, 'annotated__full_name': null})

        var sup_name_from_pms = {};
        for (const i in sup_dropdown) { sup_name_from_pms[sup_dropdown[i].pms] = sup_dropdown[i].annotated__full_name }

        class SupervisorCellRenderer extends BaseAGGridCellRenderer {
            init(ag_cell) {
                let sup_pms         = ag_cell.value;
                let sup_fullname    = sup_name_from_pms[sup_pms];
                let super_params = {
                    rendered_text : sup_fullname
                };
                this.initBase(super_params);
            }
        }

        class SupervisorCellEditor extends BaseAGGridCellSelectEditor {
            init(ag_cell) {
                let super_params = {
                    ag_cell                         : ag_cell,
                    select_array                    : sup_dropdown,
                    select_array_sort_fct           : function(x, y) {
                                                        if (x.pms == null && y.pms == null)   { return 0; }
                                                        if (x.pms == null)                    { return -1; }
                                                        if (y.pms == null)                    { return 1; }

                                                        let x_fullname = sup_name_from_pms[x.pms].toUpperCase();
                                                        let y_fullname = sup_name_from_pms[y.pms].toUpperCase();

                                                        return x_fullname < y_fullname ? -1 : x_fullname > y_fullname ? 1 : 0;
                                                    },
                    ag_cell_val_bubble_up_sort_fct  : function(x, y) { return x.pms == ag_cell.value ? -1 : y.pms == ag_cell.value ? 1 : 0; },
                    select_element_id               : 'sup_select',
                    option_element_set_val_fct      : (each) => { return (each.pms == null) ? '' : each.pms; },
                    option_element_set_txt_fct      : (each) => { return `${each.annotated__full_name} | ${each.pms}`; },
                };
                this.initBase(super_params);
            }
        }

        class SiteCellRenderer extends BaseAGGridCellRenderer {
            init(ag_cell) {
                let cur_site_id     = ag_cell.value;
                let site_name       = site_dropdown.filter(site_obj => site_obj.site_id == cur_site_id)[0].site;
                let super_params    = {
                    rendered_text : site_name
                };
                this.initBase(super_params);
            }
        }

        class SiteCellEditor extends BaseAGGridCellSelectEditor {
            init(ag_cell) {
                let super_params = {
                    ag_cell                         : ag_cell,
                    select_array                    : site_dropdown,
                    select_array_sort_fct           : function(x, y) {
                                                        return x.site < y.site ? -1 : x.site > y.site ? 1 : 0;
                                                    },
                    ag_cell_val_bubble_up_sort_fct  : function(x, y) { return x.site_id == ag_cell.value ? -1 : y.site_id == ag_cell.value ? 1 : 0; },
                    select_element_id               : 'site_select',
                    option_element_set_val_fct      : (each) => { return (each.site_id == null) ? '' : each.site_id; },
                    option_element_set_txt_fct      : (each) => { return each.site; },
                };
                this.initBase(super_params);
            }
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            // Reset the default viewport from css class container to container-fluid
            nodes = document.getElementsByClassName('container')
            for (i=0; i<nodes.length; ++i) {
                nodes[i].setAttribute('class', 'container-fluid')
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });

            function cellValueSetter(ag_row) {
                post_params = {
                    api_json_blob   : {
                        'to_pms'        : ag_row.data.pms,
                        'column_name'   : ag_row.colDef.headerName,
                        'new_value'     : ag_row.newValue,
                    },
                    ag_row          : ag_row,
                    post_url        : "update_employee_data",
                }

                return BaseAGGridCellValueSetter.setAndPOST(post_params);
            }

            // Specify the columns that is editable here
            var editable_column_names = [
                'Supervisor',       // Select
                'OfficeTitle',      // Input
                'ActualSite',       // Select
                'ActualFloor',      // Select
                'ActualSiteType',   // Select
            ]

            // Add a generic cell edit function to all editable cells
            for (col_i in emp_col_def) {
                ag_column = emp_col_def[col_i]

                if ( editable_column_names.includes(ag_column.headerName) ) {
                    ag_column['editable']       = true;
                    ag_column['valueSetter']    = cellValueSetter;

                    // Attached a class for creating a select dropdown list for any columns that contains values from a dropdown list
                    if (ag_column.headerName == 'Supervisor') {
                        ag_column['cellRenderer']   = 'supervisorCellRenderer';
                        ag_column['cellEditor']     = 'supervisorCellEditor';
                    }

                    if (ag_column.headerName == 'OfficeTitle') {
                        // Default setting will do.
                    }

                    if (ag_column.headerName == 'ActualSite') {
                        ag_column['cellRenderer']   = 'siteCellRenderer';
                        ag_column['cellEditor']     = 'siteCellEditor';
                    }
                }
            }

            var gridOptions = {
                // PROPERTIES
                // Objects like myRowData and myColDefs would be created in your application
                getRowNodeId: (data) => data.pms,
                columnDefs: emp_col_def,
                rowData: emp_data,
                domLayout: 'normal',

                defaultColDef: {
                    sortable: true,
                    filter: true
                },

                stopEditingWhenCellsLoseFocus: true,
                components: {
                    supervisorCellRenderer  : SupervisorCellRenderer,
                    supervisorCellEditor    : SupervisorCellEditor,
                    siteCellRenderer        : SiteCellRenderer,
                    siteCellEditor          : SiteCellEditor,
                },
            }

            const gridDiv = document.getElementById('AGGrid');
            new agGrid.Grid(gridDiv, gridOptions);

        });
    </script>

    {% comment %} Side Bar Stuff {% endcomment %}
    {% comment %} <script>
        function upperCaseFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function lowerCaseAllWordsExceptFirstLetters(string) {
            return string.replace(/\S*/g, function (word) {
                return word.charAt(0) + word.slice(1).toLowerCase();
            });
        }

        $(document).ready( function () {
             $('.ui.left.sidebar').sidebar({
                dimPage: false,
                transition: 'push',
                exclusive: false,
                closable: false
            });

            $('.ui.left.sidebar')
            .sidebar('attach events', '#left-sidebar-toggle');

            // Get permitted WU permissions info
            $.ajax({
                url: "/OrgChartPortal/get_client_wu_permissions_list",
                type: "POST",
            })
            .done(function(json_response) {
                if (json_response["post_success"] == false) {
                    console.log(`Error: Ajax calling GetClientWUPermissions: Server Response: ${json_response["post_msg"]}`);
                    alert(`Something went wrong while trying to get list WU permissions for client.\nPlease contact ykuang@dot.nyc.gov if this error continues:\n\nAjax calling get_client_wu_permissions_list: Server Response: ${json_response["post_msg"]}`);
                } else { // Api call successful
                    list_of_json_client_wu_permissions_response = json_response["post_data"]

                    // Populate side bar
                    list_of_json_client_wu_permissions_response.map(function(each) {
                        $('#client_wu_permissions_info').append(`<p class='item'>WU - ${each.wu__wu}<br>${each.wu__wu_desc}<br>${each.wu__subdiv}</p>`)
                    })

                }
                return true;
            })
            .fail(function(json_response) {
                var errorMessage = `Server might be down, try to reload the web page to confirm. Otherwise, try again and if error is still happening, contact ykuang@dot.nyc.gov\n xhr response: ${jqXHR.status}\n xhr response text: ${jqXHR.responseText}`;
                console.log(`Ajax Post: Error Occured: ${errorMessage}`);
                alert(`Ajax Post: Error Occured:\n\n${errorMessage}`);
                return false;
            });

            // Get teammates info
            $.ajax({
                url: "/OrgChartPortal/get_client_teammates_list",
                type: "POST",
            })
            .done(function(json_response) {
                if (json_response["post_success"] == false) {
                    console.log(`Error: Ajax calling GetClientTeammates: Server Response: ${json_response["post_msg"]}`);
                    alert(`Something went wrong while trying to get list teammates for client.\nPlease contact ykuang@dot.nyc.gov if this error continues:\n\nAjax calling get_client_teammates_list: Server Response: ${json_response["post_msg"]}`);
                } else { // Api call successful
                    list_of_json_client_teammates_response = json_response["post_data"]

                    // Populate side bar
                    list_of_json_client_teammates_response.map(function(each) {
                        let first_name = upperCaseFirstLetter(lowerCaseAllWordsExceptFirstLetters(each.pms__first_name))
                        let last_name = upperCaseFirstLetter(lowerCaseAllWordsExceptFirstLetters(each.pms__last_name))
                        $('#client_data_entry_team_info').append(`<p class='item'>${first_name}, ${last_name}</p>`)
                    })

                }
                return true;
            })
            .fail(function(json_response) {
                var errorMessage = `Server might be down, try to reload the web page to confirm. Otherwise, try again and if error is still happening, contact ykuang@dot.nyc.gov\n xhr response: ${jqXHR.status}\n xhr response text: ${jqXHR.responseText}`;
                console.log(`Ajax Post: Error Occured: ${errorMessage}`);
                alert(`Ajax Post: Error Occured:\n\n${errorMessage}`);
                return false;
            });

            // Get emp grid stats
            $.ajax({
                url: "/OrgChartPortal/get_emp_grid_stats",
                type: "POST",
            })
            .done(function(json_response) {
                if (json_response["post_success"] == false) {
                    console.log(`Error: Ajax calling GetEmpGridStats: Server Response: ${json_response["post_msg"]}`);
                    alert(`Something went wrong while trying to get emp grid stats for client.\nPlease contact ykuang@dot.nyc.gov if this error continues:\n\nAjax calling get_emp_grid_stats: Server Response: ${json_response["post_msg"]}`);
                } else { // Api call successful
                    list_of_json_client_emp_grid_stats_response = json_response["post_data"]

                    console.log('Dev purpose: GetEmpGridStats: ')
                    console.log(list_of_json_client_emp_grid_stats_response)
                }
                return true;
            })
            .fail(function(json_response) {
                var errorMessage = `Server might be down, try to reload the web page to confirm. Otherwise, try again and if error is still happening, contact ykuang@dot.nyc.gov\n xhr response: ${jqXHR.status}\n xhr response text: ${jqXHR.responseText}`;
                console.log(`Ajax Post: Error Occured: ${errorMessage}`);
                alert(`Ajax Post: Error Occured:\n\n${errorMessage}`);
                return false;
            });
        });
    </script> {% endcomment %}

    {% comment %} Footer Stuff {% endcomment %}

{% endblock custom_js %}