{% extends 'OrgChartPortal.template.base.html' %}

{% load static %}

{% block custom_css %}
    <!-- You MUST include jQuery before Fomantic -->
    <script src="{% static 'WebAppsMain/js/jquery/3.3.1/jquery.min.js' %}"></script>
    <script src="{% static 'WebAppsMain/fomantic-ui/2.8.7/semantic.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/fomantic-ui/2.8.7/semantic.min.css' %}">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/DataTables/datatables.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-theme-alpine.css' %}">

    <style>
        /* This is needed to allow AG Grid's css percentage height to work. Reason being that its parent div must also have a percentage height to contain it correctly, otherwise AG Grid will collapse to nothing */
        .container-fluid {
            height: 80%;
        }

        /* Dimming the columns pinned to the left */
        .left-pinned {
            background-color: lightgrey;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            Org Chart Portal
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>

    {% comment %} Side Bar {% endcomment %}
    <div class="ui secondary labeled icon toggle button" id="left-sidebar-toggle">
        <i class="left arrow icon"></i>
        Show my profile (Hide/Show)
    </div>

    <div class="ui inverted left vertical sidebar menu">
        <div id='client_wu_permissions_info'>
            <p class='active item'>My WU Permissions</p>
        </div>

        <div id='client_data_entry_team_info'>
            <p class='active item'>My Data Entry Team</p>
        </div>

        <p class="active item">To add someone to your data entry team, please email:
            <p class="item">Max Siegel <br> (msiegel@dot.nyc.gov)</P>
            <p class="item">Yi Zong Kuang <br> (ykuang@dot.nyc.gov)</P>
        </p>
    </div>

    {% comment %} AG Grid {% endcomment %}
    <div style="height: 40vw; width: auto;">
        <div id="AGGrid" class="ag-theme-alpine" style="height: 100%; width: 100%;"></div>
    </div>

    {% comment %} Footer {% endcomment %}
    {% comment %} <div>
        <div>Supervisor Field Complete</div>
        <div>OfficeTitle Field Complete</div>
        <div>Refresh button??? or just ask user to refresh page?</div>
        <div>Last Time List's Been Updated:</div>
        <div>List Last Updated By:</div>
        <div>Inactive Supervisor Stuff</div>
        <div>Empty or Invalid Floor Combination with WorkLocation: Floor needs updating</div>
        <div>Empty or Invalid SiteType Combination with WorkLocation and Floor: SiteType needs updating</div>
    </div> {% endcomment %}

{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/CellEditSave.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/ApiCallWrappers.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-grid-community.min.noStyle.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/HTMLElementGenerators.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/AGGridCustomExtensions.js' %}"></script>

    {% comment %} AG Grid stuff {% endcomment %}
    <script>
        var emp_col_def             = {{ emp_entry_columns_json|safe }};
        var emp_data                = {{ emp_entries_json|safe }};
        var sup_dropdown            = {{ supervisor_dropdown_list_json|safe }}; // It's very important that this list is unique by pms!
        var site_dropdown           = {{ site_dropdown_list_json|safe }};
        var site_floor_dropdown     = {{ site_floor_dropdown_list_json|safe }};
        var site_type_dropdown      = {{ site_type_dropdown_list_json|safe }};

        // Add a dummy object for empty superivor full name in the sort of the select list
        sup_dropdown.push({         'pms': null,                        'annotated__full_name': null})
        site_dropdown.push({        'site_id': null,                    'site': null})
        site_floor_dropdown.push({  'floor_id': null,                   'site_id': null,                    'floor': null})
        site_type_dropdown.push({   'site_type_id__site_type_id': null, 'site_type_id__site_type': null,    'floor_id__floor_id': null, 'floor_id__site_id': null})

        var sup_name_from_pms = {};
        for (const i in sup_dropdown) { sup_name_from_pms[sup_dropdown[i].pms] = sup_dropdown[i].annotated__full_name }

        class SupervisorCellRenderer extends BaseAGGridCellRenderer {
            init(ag_cell) {
                let sup_pms         = ag_cell.value;
                let sup_fullname    = sup_name_from_pms[sup_pms];

                let super_params = {
                    rendered_text : sup_fullname
                };
                this.initBase(super_params);
            }
        }

        class SupervisorCellEditor extends BaseAGGridCellSelectEditor {
            init(ag_cell) {
                let super_params = {
                    ag_cell                         : ag_cell,
                    select_array                    : sup_dropdown,
                    select_array_sort_fct           : function(x, y) {
                                                        if (x.pms == null && y.pms == null)   { return 0; }
                                                        if (x.pms == null)                    { return -1; }
                                                        if (y.pms == null)                    { return 1; }

                                                        let x_fullname = sup_name_from_pms[x.pms].toUpperCase();
                                                        let y_fullname = sup_name_from_pms[y.pms].toUpperCase();

                                                        return x_fullname < y_fullname ? -1 : x_fullname > y_fullname ? 1 : 0;
                                                    },
                    ag_cell_val_bubble_up_sort_fct  : function(x, y) { return x.pms == ag_cell.value ? -1 : y.pms == ag_cell.value ? 1 : 0; },
                    select_element_id               : 'sup_select',
                    option_element_set_val_fct      : (each) => { return (each.pms == null) ? '' : each.pms; },
                    option_element_set_txt_fct      : (each) => { return `${each.annotated__full_name} | ${each.pms}`; },
                };
                this.initBase(super_params);
            }
        }

        class SiteCellRenderer extends BaseAGGridCellRenderer {
            init(ag_cell) {
                let cur_site_id     = ag_cell.value;
                let found           = site_dropdown.filter(site_obj => site_obj.site_id == cur_site_id);
                let site_name       = found.length == 0 ? null : found[0].site;

                let super_params    = {
                    rendered_text : site_name
                };
                this.initBase(super_params);
            }
        }

        class SiteCellEditor extends BaseAGGridCellSelectEditor {
            init(ag_cell) {
                let super_params = {
                    ag_cell                         : ag_cell,
                    select_array                    : site_dropdown,
                    select_array_sort_fct           : function(x, y) { return x.site < y.site ? -1 : x.site > y.site ? 1 : 0; },
                    ag_cell_val_bubble_up_sort_fct  : function(x, y) { return x.site_id == ag_cell.value ? -1 : y.site_id == ag_cell.value ? 1 : 0; },
                    select_element_id               : 'site_select',
                    option_element_set_val_fct      : (each) => { return (each.site_id == null) ? '' : each.site_id; },
                    option_element_set_txt_fct      : (each) => { return each.site; },
                };
                this.initBase(super_params);
            }
        }

        class SiteFloorCellRenderer extends BaseAGGridCellRenderer {
            init(ag_cell) {
                let cur_floor_id    = ag_cell.value;
                let found           = site_floor_dropdown.filter(x => x.floor_id == cur_floor_id);
                let site_floor      = found.length == 0 ? null : found[0].floor;

                let super_params = {
                    rendered_text : site_floor
                };
                this.initBase(super_params);
            }
        }

        class SiteFloorCellEditor extends BaseAGGridCellSelectEditor {
            init(ag_cell) {
                let cur_row_floor_id    = ag_cell.data.actual_site_id__site_id;
                let sub_floor_array     = site_floor_dropdown.filter(x => x.site_id == cur_row_floor_id || x.site_id == null);

                let super_params = {
                    ag_cell                         : ag_cell,
                    select_array                    : sub_floor_array,
                    select_array_sort_fct           : function(x,y) {
                                                        /*  If floor is null, set it to null
                                                            If floor can be float, convert it to float
                                                            If floor is not float, and has 'SL', replace it with '-' and then convert to float, resulting in a negative float
                                                            If floor is not float, and has no 'SL', set it to -999 to be on the bottom of the list

                                                            Sort desc by floor number
                                                        */
                                                        let x_float = ( (x.floor == null) ? -999 : !isNaN( parseFloat(x.floor) ) ? parseFloat(x.floor) : (x.floor.includes('SL') ? parseFloat(x.floor.replace('SL', '-')) : 0) );
                                                        let y_float = ( (y.floor == null) ? -999 : !isNaN( parseFloat(y.floor) ) ? parseFloat(y.floor) : (y.floor.includes('SL') ? parseFloat(y.floor.replace('SL', '-')) : 0) );
                                                        return x_float < y_float ? 1 : x_float > y_float ? -1 : 0;
                                                    },
                    ag_cell_val_bubble_up_sort_fct  : function(x, y) {
                                                        if ( sub_floor_array.filter(x => x.floor_id == ag_cell.value).length > 0 ) {
                                                            return x.floor_id == ag_cell.value ? -1 : y.floor_id == ag_cell.value ? 1 : 0;
                                                        } else {
                                                            // If current floor is not a valid option for the current site, bubble the null option up to the top
                                                            // It is needed because the top option of the select list doesn't trigger the change event of the AG Grid
                                                            // And in cases where ag_cell.value is not found in the select array, the resulting select list has a valid option as the top option
                                                            // Thus when trying to select this top option, AG Grid doesn't register it and doesn't trigger the change event and its associated function calls.
                                                            // Bubbling a null option to the top in cases like these, fixes this issue.
                                                            return x.floor_id == null ? -1 : y.floor_id == null ? 1 : 0;
                                                        }
                                                    },
                    select_element_id               : 'floor_select',
                    option_element_set_val_fct      : (each) => { return (each.floor_id == null) ? '' : each.floor_id; },
                    option_element_set_txt_fct      : (each) => { return each.floor; },
                };
                this.initBase(super_params);
            }
        }

        class SiteTypeCellRenderer extends BaseAGGridCellRenderer {
            init(ag_cell) {
                let cur_site_type_id    = ag_cell.value;
                let found               = site_type_dropdown.filter(x => x.site_type_id__site_type_id == cur_site_type_id);
                let site_type           = found.length == 0 ? null : found[0].site_type_id__site_type;

                let super_params = {
                    rendered_text : site_type
                };
                this.initBase(super_params);
            }
        }

        class SiteTypeCellEditor extends BaseAGGridCellSelectEditor {
            init(ag_cell) {
                let cur_row_floor_id    = ag_cell.data.actual_floor_id__floor_id;
                let cur_row_site_id     = ag_cell.data.actual_site_id__site_id;
                let sub_site_type_array = site_type_dropdown.filter( x => (x.floor_id__floor_id == cur_row_floor_id && x.floor_id__site_id == cur_row_site_id) || (x.floor_id__floor_id == null) );
                if (sub_site_type_array.length == 1 && sub_site_type_array[0].floor_id__floor_id == null) {
                    // Site and Site Floor are invalid combination, and so there isn't a valid list of Site Type to choose from
                    alert("Site and Site Floor are invalid combination, please fix that first")
                    // No need to return. Alert() seems to cause the cell to lose focus anyway, so the dropdown list never shows when the alert() is called.
                }

                let super_params = {
                    ag_cell                         : ag_cell,
                    select_array                    : sub_site_type_array,
                    select_array_sort_fct           : function(x, y) { return x.site_type_id__site_type < y.site_type_id__site_typeite ? -1 : x.site_type_id__site_type > y.site_type_id__site_type ? 1 : 0; },
                    ag_cell_val_bubble_up_sort_fct  : function(x, y) {
                                                        if ( sub_site_type_array.filter(x => x.site_type_id__site_type_id == ag_cell.value).length > 0 ) {
                                                            return x.site_type_id__site_type_id == ag_cell.value ? -1 : y.site_type_id__site_type_id == ag_cell.value ? 1 : 0;
                                                        } else {
                                                            // If current site type is not a valid option for the current site floor, bubble the null option up to the top
                                                            // It is needed because the top option of the select list doesn't trigger the change event of the AG Grid
                                                            // And in cases where ag_cell.value is not found in the select array, the resulting select list has a valid option as the top option
                                                            // Thus when trying to select this top option, AG Grid doesn't register it and doesn't trigger the change event and its associated function calls.
                                                            // Bubbling a null option to the top in cases like these, fixes this issue.
                                                            return x.site_type_id__site_type_id == null ? -1 : y.site_type_id__site_type_id == null ? 1 : 0;
                                                        }
                                                    },
                    select_element_id               : 'site_type_select',
                    option_element_set_val_fct      : (each) => { return (each.site_type_id__site_type_id == null) ? '' : each.site_type_id__site_type_id; },
                    option_element_set_txt_fct      : (each) => { return each.site_type_id__site_type; },
                };
                this.initBase(super_params);
            }
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            // Reset the default viewport from css class container to container-fluid
            nodes = document.getElementsByClassName('container')
            for (i=0; i<nodes.length; ++i) {
                nodes[i].setAttribute('class', 'container-fluid')
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });

            function cellValueSetter(ag_node) {
                let post_params = null;
                if (ag_node.colDef.headerName == 'ActualSite') {
                    post_params = {
                        api_json_blob   : {
                            'to_pms'        : ag_node.data.pms,
                            'column_name'   : ag_node.colDef.headerName,
                            'new_value'     : ag_node.newValue,
                        },
                        ag_node             : ag_node,
                        post_url            : "update_employee_data",
                        on_success_callback : function(json_response, props) {
                            let ag_node = props.ag_node;

                            ag_node.data[ag_node.colDef.field] = ag_node.newValue;
                            // Null the Actual Site Floor and Actual Site Type on Actual Site changes. The API has already made this change on a successfuly API call.
                            ag_node.data['actual_floor_id__floor_id']           = null;
                            ag_node.data['actual_site_type_id__site_type_id']   = null;

                            ag_node.api.refreshCells({
                                rowNodes: [ag_node.node],
                                columns: [
                                    ag_node.column,
                                    'actual_floor_id__floor_id',
                                    'actual_site_type_id__site_type_id'
                                ],
                            });
                        },
                    }
                } else {
                    post_params = {
                        api_json_blob   : {
                            'to_pms'        : ag_node.data.pms,
                            'column_name'   : ag_node.colDef.headerName,
                            'new_value'     : ag_node.newValue,
                        },
                        ag_node         : ag_node,
                        post_url        : "update_employee_data",
                    }
                }

                return BaseAGGridCellValueSetter.setAndPOST(post_params);
            }

            function onFirstDataRendered(params) {
                params.api.sizeColumnsToFit();
            }

            // Specify the columns that is editable here
            var editable_column_names = [
                'Supervisor',       // Select
                'OfficeTitle',      // Input
                'ActualSite',       // Select
                'ActualFloor',      // Select
                'ActualSiteType',   // Select
            ]

            // Add a generic cell edit function to all editable cells
            for (col_i in emp_col_def) {
                ag_column = emp_col_def[col_i]

                if ( editable_column_names.includes(ag_column.headerName) ) {
                    ag_column['editable']       = true;
                    ag_column['valueSetter']    = cellValueSetter;

                    // Attached a class for creating a select dropdown list for any columns that contains values from a dropdown list
                    if (ag_column.headerName == 'Supervisor') {
                        ag_column['cellRenderer']   = 'supervisorCellRenderer';
                        ag_column['cellEditor']     = 'supervisorCellEditor';
                    }

                    if (ag_column.headerName == 'OfficeTitle') {
                        // Default setting will do.
                    }

                    if (ag_column.headerName == 'ActualSite') {
                        ag_column['cellRenderer']   = 'siteCellRenderer';
                        ag_column['cellEditor']     = 'siteCellEditor';
                    }

                    if (ag_column.headerName == 'ActualFloor') {
                        ag_column['cellRenderer']   = 'siteFloorCellRenderer';
                        ag_column['cellEditor']     = 'siteFloorCellEditor';
                    }

                    if (ag_column.headerName == 'ActualSiteType') {
                        ag_column['cellRenderer']   = 'siteTypeCellRenderer';
                        ag_column['cellEditor']     = 'siteTypeCellEditor';
                    }
                }
            }

            var gridOptions = {
                // PROPERTIES
                // Objects like myRowData and myColDefs would be created in your application
                getRowNodeId: (data) => data.pms,
                columnDefs: emp_col_def,
                rowData: emp_data,
                domLayout: 'normal',

                defaultColDef: {
                    sortable: true,
                    filter: true,
                    resizable: true,
                },

                onFirstDataRendered: onFirstDataRendered,
                enableCellChangeFlash: true,

                stopEditingWhenCellsLoseFocus: true,
                components: {
                    supervisorCellRenderer  : SupervisorCellRenderer,
                    supervisorCellEditor    : SupervisorCellEditor,
                    siteCellRenderer        : SiteCellRenderer,
                    siteCellEditor          : SiteCellEditor,
                    siteFloorCellRenderer   : SiteFloorCellRenderer,
                    siteFloorCellEditor     : SiteFloorCellEditor,
                    siteTypeCellRenderer    : SiteTypeCellRenderer,
                    siteTypeCellEditor      : SiteTypeCellEditor,
                },
            }

            const gridDiv = document.getElementById('AGGrid');
            new agGrid.Grid(gridDiv, gridOptions);

        });
    </script>

    {% comment %} Side Bar Stuff {% endcomment %}
    <script>
        function upperCaseFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function lowerCaseAllWordsExceptFirstLetters(string) {
            return string.replace(/\S*/g, function (word) {
                return word.charAt(0) + word.slice(1).toLowerCase();
            });
        }

        $(document).ready( function () {
            $('.ui.left.sidebar').sidebar({
                dimPage: false,
                transition: 'push',
                exclusive: false,
                closable: false
            });

            $('.ui.left.sidebar')
            .sidebar('attach events', '#left-sidebar-toggle');

            // Get permitted WU permissions info
            let wu_perms_api_url = '/OrgChartPortal/get_client_wu_permissions_list';
            let wu_perms_response = sentJsonBlobToApi({
                api_url             : wu_perms_api_url,
                http_request_method : "POST",
                successCallbackFct  : function(json_wu_perms_response) {
                    if (json_wu_perms_response["post_success"] == true && json_wu_perms_response["post_msg"] != null) {
                        // User is admin
                        $('#client_wu_permissions_info').append(`<p class='item'>${json_wu_perms_response["post_msg"]}</p>`);
                        return
                    }

                    list_of_json_client_wu_permissions_wu_perms_response = json_wu_perms_response["post_data"];

                    // Populate side bar
                    list_of_json_client_wu_permissions_wu_perms_response.map(function(each) {
                        $('#client_wu_permissions_info').append(`<p class='item'>WU - ${each.wu__wu}<br>${each.wu__wu_desc}<br>${each.wu__subdiv}</p>`);
                    })
                },
                failCallbackFct     : function(json_wu_perms_response) {
                    $('#client_wu_permissions_info').append(`<p class='item'>Error getting data</p>`)
                },
                ajaxFailCallbackFct : function(jqXHR) {
                    console.log(`API ${wu_perms_api_url}(): fail ajax call`)
                },
            })


            // Get teammates info
            let teammates_api_url = '/OrgChartPortal/get_client_teammates_list';
            teammates_response = sentJsonBlobToApi({
                api_url             : teammates_api_url,
                http_request_method : "POST",
                successCallbackFct  : function(json_teammates_response) {
                    if (json_teammates_response["post_success"] == true && json_teammates_response["post_msg"] != null) {
                        // User is admin
                        $('#client_data_entry_team_info').append(`<p class='item'>${json_teammates_response["post_msg"]}</p>`);
                        return
                    }

                    list_of_json_client_teammates_teammates_response = json_teammates_response["post_data"];

                    // Populate side bar
                    list_of_json_client_teammates_teammates_response.map(function(each) {
                        let first_name = upperCaseFirstLetter(lowerCaseAllWordsExceptFirstLetters(each.user_id__pms__first_name));
                        let last_name = upperCaseFirstLetter(lowerCaseAllWordsExceptFirstLetters(each.user_id__pms__last_name));
                        $('#client_data_entry_team_info').append(`<p class='item'>${first_name}, ${last_name}</p>`);
                    })
                },
                failCallbackFct     : function(json_teammates_response) {
                    $('#client_data_entry_team_info').append(`<p class='item'>Error getting data</p>`)
                },
                ajaxFailCallbackFct : function(jqXHR) {
                    console.log(`API ${teammates_api_url}(): fail ajax call`)
                },
            })


            {% comment %}
            // Get emp grid stats
            $.ajax({
                url: "/OrgChartPortal/get_emp_grid_stats",
                type: "POST",
            })
            .done(function(json_response) {
                if (json_response["post_success"] == false) {
                    console.log(`Error: Ajax calling GetEmpGridStats: Server Response: ${json_response["post_msg"]}`);
                    alert(`Something went wrong while trying to get emp grid stats for client.\nPlease contact ykuang@dot.nyc.gov if this error continues:\n\nAjax calling get_emp_grid_stats: Server Response: ${json_response["post_msg"]}`);
                } else { // Api call successful
                    list_of_json_client_emp_grid_stats_response = json_response["post_data"]

                    console.log('Dev purpose: GetEmpGridStats: ')
                    console.log(list_of_json_client_emp_grid_stats_response)
                }
                return true;
            })
            .fail(function(json_response) {
                var errorMessage = `Server might be down, try to reload the web page to confirm. Otherwise, try again and if error is still happening, contact ykuang@dot.nyc.gov\n xhr response: ${jqXHR.status}\n xhr response text: ${jqXHR.responseText}`;
                console.log(`Ajax Post: Error Occured: ${errorMessage}`);
                alert(`Ajax Post: Error Occured:\n\n${errorMessage}`);
                return false;
            });
            {% endcomment %}
        });
    </script>

    {% comment %} Footer Stuff {% endcomment %}

{% endblock custom_js %}