{% extends 'OrgChartPortal.template.base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-theme-alpine.css' %}">

    <style>
        /* Dimming the notEditableColorCode column */
        .notEditableColorCode {
            background-color: lightgrey;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui floating big message">
        <h2>
            Manage Permissions
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>

    {% if client_is_admin %}
        <!-- Add new row button and modal form -->
        <div class="ui one column centered grid">
            <div class="ui modal" id="modalNewRowForm">
                <div class="content center aligned">

                    <div class="ui horizontal divider">Add new user permission</div>

                    <div>User</div>
                    <div id="modalNewRowFormSelectUserInputBorder" class="ui input">
                        <select id="modalNewRowFormSelectUserInput" class="ui selection dropdown">
                            <option value=""></option>
                            {% for each in user_list %}
                                <option value="{{ each }}">{{ each }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>Division</div>
                    <div id="modalNewRowFormSelectWUInputBorder" class="ui input">
                        <select id="modalNewRowFormSelectWUInput" class="ui selection dropdown">
                            <option value=""></option>
                            {% for each in division_list %}
                                <option value="{{ each }}">{{ each }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="ui horizontal divider">-</div>
                    <button id="modalNewRowFormAddButton" class="ui teal large button">Add new user permission</button>

                </div>
                <div id='successMsg'></div>
            </div>

            <button id="trigger_input" class="ui teal large button">Add new user permission</button>
        </div>


        <!--admin access control web grid-->
        <div style="height: 40vw; width: auto;">
            <div id="AGGrid" class="ag-theme-alpine" style="height: 100%; width: 100%;"></div>
        </div>
        <!--End admin access control web grid-->
    {% endif %}
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/AGGrid/v26.2.1/ag-grid-community.min.noStyle.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/AGGridCustomExtensions.js' %}" type=""></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/ApiCallWrappers.js' %}"></script>

    <script>
        $(document).ready( function () {
            // Initializing the existing select divs into a dropdown menu for Formantic UI
            $('#modalNewRowFormSelectUserInput').dropdown();
            $('#modalNewRowFormSelectWUInput').dropdown();

            if ( document.getElementById('trigger_input') != null ) {
                document.getElementById('trigger_input').addEventListener("click", function() {
                    $('#modalNewRowForm').modal('show')
                });
            } else {
                alert(`Cannot find a div with the ID 'trigger_input'`)
            }

            function onFirstDataRendered(params) {
                params.api.sizeColumnsToFit();
            }

            var col_def = {{ ag_grid_col_def_json|safe }};
            var data    = {{ permissions_json|safe }};

            for (col_i in col_def) {
                ag_column = col_def[col_i];

                if (ag_column.headerName == 'Delete?') {
                    ag_column['cellRenderer']   = 'deleteCellRenderer';
                }
            }

            var gridOptions = {
                // PROPERTIES
                // Objects like myRowData and myColDefs would be created in your application
                //getRowNodeId: (data) => data.windows_username,
                columnDefs: col_def,
                rowData: data,
                domLayout: 'normal',

                defaultColDef: {
                    sortable: true,
                    filter: true,
                    resizable: true,
                },

                onFirstDataRendered: onFirstDataRendered,
                enableCellChangeFlash: true,
                rowSelection: 'single',

                stopEditingWhenCellsLoseFocus: true,
                components: {
                    deleteCellRenderer  : DeleteCellRenderer,
                },
            }

            const gridDiv = document.getElementById('AGGrid');
            new agGrid.Grid(gridDiv, gridOptions);




        });
    </script>
{% endblock custom_js %}