{% extends 'PerInd.template.base.html' %}


{% load static %}
{% block custom_css %}
    <!-- Material Design Bootstrap (@TODO Replace with Fomantic UI) -->
    <script type="text/javascript" src="{% static 'WebAppsMain/mdbootstrap/4.19.1/mdb.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'WebAppsMain/mdbootstrap/4.19.1/mdb.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/css/dot_color_scheme.css' %}" />
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<div class="container">
    <div class="jumbotron" style=" font-family:sans-serif;">
        <h1>Performance Indicator Portal</h1>
        <p class="lead">Welcome!</p>
        <p class="lead">We track DOT's various Indicators and create PowerBI reports for consumption.</p>
    </div>




    <div class="ui link cards">

        <a class="ui card" href="{% url 'perind_webgrid_view' %}">
            <div class="image" >
                <img class="DOT-theme-color" src="{% static 'WebAppsMain/images/820x485/data_entry_logo.png' %}">
            </div>

            <div class="content">
                <div class="header">
                    Data Entry
                </div>
                <div class="ui primary button">Head Over &raquo;</div>
            </div>
        </a>

        <a class="ui card" href="#!" onClick="MyWindow=window.open('https://app.powerbigov.us/groups/663659b7-5b41-48b1-9d00-4c7170319cca/reports/52721a1a-9737-48f2-bbce-3acedf782629/ReportSection?openDashboardSource=SubscribeOthers&ctid=21c62253-c3dd-4661-9659-cd01aff2d452','_blank'); return false;">
            <div class="image" >
                <img class="DOT-theme-color" src="{% static 'WebAppsMain/images/820x485/report_logo.png' %}">
            </div>

            <div class="content">
                <div class="header">
                    Dashboard Reports
                </div>
                <div class="ui primary button">Head Over &raquo;</div>
            </div>
        </a>

        {% if client_is_admin %}
            <a class="ui card" href="{% url 'perind_pastdueindicators' %}">
                <div class="image" >
                    <img class="DOT-theme-color" src="{% static 'WebAppsMain/images/820x485/report_logo.png' %}">
                </div>

                <div class="content">
                    <div class="header">
                        Past-due Indicators Report
                    </div>
                    <div class="ui primary button">Head Over &raquo;</div>
                </div>
            </a>

            <a class="ui card" href="{% url 'perind_adminpanel' %}">
                <div class="image" >
                    <img class="DOT-theme-color" src="{% static 'WebAppsMain/images/820x485/admin_logo.png' %}">
                </div>

                <div class="content">
                    <div class="header">
                        Admin Panel
                    </div>
                    <div class="ui primary button">Head Over &raquo;</div>
                </div>
            </a>
        {% endif %}

    </div>
</div>

</html>
{% endblock content %}