{% extends 'template.base.html' %}

{% block customize_logo_link %}
    {% url 'perind_home_view' %}
{% endblock %}

{% block customize_home_link %}
    {% url 'perind_home_view' %}
{% endblock %}
{% block customize_home_link_name %}
    Indicators Home
{% endblock %}

{% block customize_about_link %}
    {% url 'perind_about_view' %}
{% endblock %}
{% block customize_about_link_name %}
    About
{% endblock %}

{% block customize_contact_link %}
    {% url 'perind_contact_view' %}
{% endblock %}

{% block customize_nav_items %}
{% endblock %}