{% extends 'DailyPothole.template.base.html' %}

{% load static %}
{% load tz %}
{% load extra_tags %}

{% block custom_css %}
{% endblock %}

{% block content %}
    <div class="ui floating big message">
        <h2>
            PDF Reports generation
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>


    {% if client_is_admin %}
        <div class="ui horizontal divider">Choose a date in your Reporting week</div>
        <div class="ui one column stackable center aligned page grid">
            <div class="ui form">
                <div id="reportingFormInputBorderReportDate" class="field">
                    <input type="date" id="reportingFormInputReportDate" value="{{ today }}">
                </div>

                <div class="fields">
                    <div class="disabled field">
                        <div>FITS X (Bronx)</div>
                        <input id="reportingFormInputFITSBronx"         readonly>
                    </div>
                    <div class="disabled field">
                        <div>FITS K (Brooklyn)</div>
                        <input id="reportingFormInputFITSBrooklyn"      readonly>
                    </div>
                    <div class="disabled field">
                        <div>FITS M (Manhattan)</div>
                        <input id="reportingFormInputFITSManhattan"     readonly>
                    </div>
                </div>

                <div class="fields">
                    <div class="disabled field">
                        <div>FITS Q (Queens)</div>
                        <input id="reportingFormInputFITSQueens"        readonly>
                    </div>
                    <div class="disabled field">
                        <div>FITS R (Staten Island)</div>
                        <input id="reportingFormInputFITSStatenIsland"  readonly>
                    </div>
                    <div class="disabled field">
                        <div>Open Siebel Reports</div>
                        <input id="reportingFormInputOpenSiebel"        readonly>
                    </div>
                </div>

                <div class="ui horizontal divider"></div>
                <button id="reportingFormSubmit" class="ui teal large button">Generate PDF</button>

            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/CellEditSave.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/ApiCallWrappers.js' %}"></script>
    <script type="text/javascript" charset="utf8" src={% static 'WebAppsMain/js/FileSaver.min.js' %}></script>

    {% comment %} JS Datatable stuff {% endcomment %}
    <script>
        $(document).ready( function () {
            // Reset the default viewport from css class container to container-fluid
            $(".container").attr('class', 'container-fluid')


            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });


            // Returns a date string after day delta is applied, in the format of YYYY-MM-DD. Expects UTC time as argument and return UTC time
            function getDaysDeltaForDateString({
                    date_str    // Expects this format YYYY-MM-DD, will not work otherwise
                    ,days=0     // Make this a negative number if you want previous days
                }={}) {

                let date_obj = new Date( Date.UTC( date_str.slice(0,4), Number(date_str.slice(5,7))-1, date_str.slice(8) ) ) // UTC takes in year, month, and date. The month is zero indexed, so zero is january
                date_obj.setDate(date_obj.getDate()+days) // We want to show complaints data for the previous day of report_date

                let complaints_date = [
                    ( '0' + date_obj.getUTCFullYear() ).slice(-4)
                    ,( '0' + (date_obj.getUTCMonth()+1) ).slice(-2)      // Get the last two char, which will always be two digits, or one digits with zero padded. Note: date.getMonth() is zero indexed, so 0 is the first month.
                    ,( '0' + date_obj.getUTCDate() ).slice(-2)
                ].join('-')

                return complaints_date
            }



            $('#reportingFormSubmit').on("click", function() {

                let ReportDate = $("#reportingFormInputReportDate").val()

                $('#reportingFormInputBorderReportDate').removeClass("error")

                if (ReportDate == '') {
                    $('#reportingFormInputBorderReportDate').addClass("error")
                    return
                }

                json_blob = {
                    "report_date": ReportDate,
                }

                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_get_pdf_report_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        //alert(`data saved successfully!`)

                        fun_bytes_str = json_response.pdf_bytes
                        var blob = new Blob([fun_bytes_str], {type: "application/octet-stream"});
                        let date_name = `${ ReportDate.substring(5, ReportDate.length) + '-' + ReportDate.substring(0, 4) }`  // Should be MM-DD-YYYY now
                        date_name = date_name.replace(/-/g, '.')  // Replace all instance of '-' with '.'
                        var fileName = `Daily Pothole Report_${date_name}.pdf`;
                        saveAs(blob, fileName);

                    },
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
                )
            })

            $('#reportingFormInputReportDate').on("change", function() {
                if ($(this).val() == "") {
                    // reset field values
                    $("#reportingFormInputFITSBronx").val(        '')
                    $("#reportingFormInputFITSBrooklyn").val(     '')
                    $("#reportingFormInputFITSManhattan").val(    '')
                    $("#reportingFormInputFITSQueens").val(       '')
                    $("#reportingFormInputFITSStatenIsland").val( '')
                    $("#reportingFormInputOpenSiebel").val(       '')
                    return
                } else {
                    // Call lookup api to populate fields
                    let report_date = $(this).val()

                    let complaints_date = getDaysDeltaForDateString({date_str: report_date, days: -1}) // We want to show complaints data for the previous day of report_date
                    json_blob = {
                        "complaint_date": complaints_date,
                    }

                    sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_lookup_complaints_data_api' %}", http_request_method="POST",
                        successCallbackFct=function(json_response) {

                            let fits_bronx          = json_response.fits_bronx == null           ? '' : json_response.fits_bronx
                            let fits_brooklyn       = json_response.fits_brooklyn == null        ? '' : json_response.fits_brooklyn
                            let fits_manhattan      = json_response.fits_manhattan == null       ? '' : json_response.fits_manhattan
                            let fits_queens         = json_response.fits_queens == null          ? '' : json_response.fits_queens
                            let fits_staten_island  = json_response.fits_staten_island == null   ? '' : json_response.fits_staten_island
                            let open_siebel         = json_response.open_siebel == null          ? '' : json_response.open_siebel

                            $("#reportingFormInputFITSBronx").val(        fits_bronx);
                            $("#reportingFormInputFITSBrooklyn").val(     fits_brooklyn);
                            $("#reportingFormInputFITSManhattan").val(    fits_manhattan);
                            $("#reportingFormInputFITSQueens").val(       fits_queens);
                            $("#reportingFormInputFITSStatenIsland").val( fits_staten_island);
                            $("#reportingFormInputOpenSiebel").val(       open_siebel);

                        },
                        failCallbackFct=function(json_response) {
                            alert(JSON.stringify(json_response, null, 2))
                        }
                    )

                    return
                }
            })

        });
    </script>
{% endblock custom_js %}