{% extends 'DailyPothole.template.base.html' %}

{% load static %}
{% load tz %}
{% load extra_tags %}

{% block custom_css %}
{% endblock %}

{% block content %}
    <div class="ui floating big message">
        <h2>
            Daily Pothole Data Entry
        </h2>
        <div class="status_info error_msg">{% if not get_success %} Error: '{{ get_error }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>


    {% if get_success %}
        <div class="ui one column centered grid">
            <div class="ui modal" id="modalForm">
                <div class="content center aligned">

                    <div class="ui horizontal divider">Enter potholes data</div>

                    <div>Date of repair</div>
                    <div id="DateOfRepairBorder" class="ui input">
                        <input type="date" id="DateOfRepairInput" value="{{ -1|addDaysFromToday }}">
                    </div>

                    <div>Select operation</div>
                    <div id="SelectPotholeDataOperationBorder">
                    </div>

                    <div>Select borough</div>
                    <div id="SelectPotholeDataBoroughBorder">
                    </div>

                    <div>Enter pothole crew count</div>
                    <div id="PotholeCrewCountBorder" class="ui input">
                        <input id="PotholeCrewCountInput">
                    </div>

                    <div>Enter potholes repaired</div>
                    <div id="RegularHolesRepairedBorder" class="ui input">
                        <input id="RegularHolesRepaired">
                    </div>

                    <div class="ui horizontal divider"></div>
                    <button id="SavePotholeData" class="ui teal large button">Save Pothole Info</button>



                    <div class="ui horizontal divider">Enter information for today's crews</div>

                    <div>Today's pothole crew count</div>
                    <div id="TodayPotholeCrewCountBorder" class="ui input">
                        <input id="TodayPotholeCrewCount">
                    </div>

                    <div>Date</div>
                    <div id="TodayCrewDateBorder" class="ui input">
                        <input type="date" id="TodayCrewDate" value="{{ today }}">
                    </div>

                    <div>Select operation</div>
                    <div id="SelectTodayCrewOperationBorder">
                    </div>

                    <div>Select borough</div>
                    <div id="SelectTodayCrewBoroughBorder">
                    </div>

                    <div class="ui horizontal divider"></div>
                    <button id="SaveTodayCrewData" class="ui teal large button">Save Today's Crew</button>

                </div>
                <div id='successMsg'></div>
            </div>

            <button id="trigger_input" class="ui teal large button">Input Pothole Data</button>
        </div>
    {% endif %}

{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/CellEditSave.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/ApiCallWrappers.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/HTMLElementGenerators.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/FomanticUICustomExtension.js' %}"></script>

    {% comment %} JS Datatable stuff {% endcomment %}
    <script>
        {% if get_success %}
        $(document).ready( function () {
            let select_pothole_data_operation_id    = 'SelectPotholeDataOperation';
            let select_pothole_data_boro_id         = 'SelectPotholeDataBorough';
            let select_today_crew_operation_id      = 'SelectTodayCrewOperation';
            let select_today_crew_boro_id           = 'SelectTodayCrewBorough';

            const operation_boro_permissions = {{ operation_boro_permissions|safe }};
            var operations_dropdown = [];
            for (const [key, value] of Object.entries(operation_boro_permissions)) {
                if (operations_dropdown.length == 0) { // Let the first item to the default selected item
                    operations_dropdown.push({
                        value: key,
                        text: key,
                        selected : true
                    });
                } else {
                    operations_dropdown.push({
                        value: key,
                        text: key,
                    });
                }
            }


            function count_decimals({value=null} = {}) {
                // str is a positive integer
                if (Math.floor(value) === value) return 0;

                var str = value.toString();
                if (str === "") {
                    return 0;
                } else if (str.indexOf(".") !== -1 && str.indexOf("-") !== -1) {
                    // str is a negative decimal
                    return count_decimals({value: (str.split("-")[1] || '')});
                } else if (str.indexOf(".") !== -1) {
                    // str is a positive decimal
                    return str.split(".")[1].length || 0;
                } else {
                    // str is a negative integer
                    return count_decimals({value: (str.split("-")[1] || '')});
                }
            }

            function is_numeric({str=null} = {}) { // Can accept float or int
                if (typeof str != "string") return false // we only process strings!
                return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
                       !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
            }

            function setup_boro_dropdown({parent_id=parent_id, select_id=null, operation=null}={}) {
                try {
                    let boros_dropdown  = [];
                    operation_boro_permissions[operation].forEach((x, index) => {
                        if ( index === 0 ) {
                            boros_dropdown.push({
                                value: x,
                                text: x,
                                selected : true,
                            });
                        } else {
                            boros_dropdown.push({
                                value: x,
                                text: x,
                            });
                        }
                    });

                    initialize_fomantic_dropdown({parent_id: parent_id, select_id: select_id, arr: boros_dropdown});
                } catch(e) {
                    throw `setup_boro_dropdown(): ${e}`;
                }
            }

            function lookup_and_display_potholes_data_group_data() {
                json_blob = {
                    "look_up_date": $('#DateOfRepairInput').val(),
                    "operation": $(`#${select_pothole_data_operation_id}`).val(),
                    "borough": $(`#${select_pothole_data_boro_id}`).val(),
                }
                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_lookup_potholes_and_crew_data_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {

                        let repair_crew_count   = json_response.repair_crew_count == null   ? '' : json_response.repair_crew_count
                        let holes_repaired      = json_response.holes_repaired == null      ? '' : json_response.holes_repaired

                        $("#PotholeCrewCountInput").val(repair_crew_count);
                        $("#RegularHolesRepaired").val(holes_repaired);

                    }
                )
            }

            function potholes_data_change_event() {
                if ($(this).attr('id') == 'DateOfRepairInput' && $(this).val() == "") {
                    // reset field values if date is cleared by user
                    $('#PotholeCrewCountBorder').removeClass("error")
                    $("#PotholeCrewCountInput").val('')
                    $('#RegularHolesRepairedBorder').removeClass("error")
                    $("#RegularHolesRepaired").val('')
                    return
                } else {
                    // Call lookup api to populate fields
                    // If the date input is not entered, skip the api call
                    if ($('#DateOfRepairInput').val() == "") {
                        return
                    }

                    $('#PotholeCrewCountBorder').removeClass("error")
                    $('#RegularHolesRepairedBorder').removeClass("error")

                    lookup_and_display_potholes_data_group_data();

                    return
                }
            }

            function setup_potholes_data_group_change_event() {
                // Remove any existing identical event first
                $(`#DateOfRepairInput, #${select_pothole_data_operation_id}, #${select_pothole_data_boro_id}`).off("change", potholes_data_change_event);
                $(`#DateOfRepairInput, #${select_pothole_data_operation_id}, #${select_pothole_data_boro_id}`).on("change", potholes_data_change_event);
            }

            function setup_potholes_data_boro_dropdown_and_change_event() {
                try {
                    let selected_op = $(`#${select_pothole_data_operation_id}`).val();
                    setup_boro_dropdown({parent_id: 'SelectPotholeDataBoroughBorder', select_id: select_pothole_data_boro_id, operation: selected_op});
                    setup_potholes_data_group_change_event();
                } catch(e) {
                    throw `setup_potholes_data_boro_dropdown_and_change_event(): ${e}`;
                }
            }

            function setup_potholes_data_save_btn() {
                $('#SavePotholeData').on("click", function() {

                    let DateOfRepairInput           = $("#DateOfRepairInput").val();
                    let SelectOperationInput        = $(`#${select_pothole_data_operation_id}`).dropdown('get text');
                    let SelectBoroughInput          = $(`#${select_pothole_data_boro_id}`).dropdown('get text');
                    let PotholeCrewCountInput       = $("#PotholeCrewCountInput").val();
                    let RegularHolesRepaired        = $("#RegularHolesRepaired").val();

                    $('#DateOfRepairBorder'                 ).removeClass("error");
                    $(`#${select_pothole_data_operation_id}`).parent().removeClass("error");
                    $(`#${select_pothole_data_boro_id}`     ).parent().removeClass("error");
                    $('#PotholeCrewCountBorder'             ).removeClass("error");
                    $('#RegularHolesRepairedBorder'         ).removeClass("error");


                    if (DateOfRepairInput === null || DateOfRepairInput == '') {
                        $('#DateOfRepairBorder').addClass("error");
                        return;
                    }

                    if (SelectOperationInput === null || SelectOperationInput == '') {
                        $(`#${select_pothole_data_operation_id}`).parent().addClass("error");
                        return;
                    }

                    if (SelectBoroughInput === null || SelectBoroughInput == '') {
                        $(`#${select_pothole_data_boro_id}`).parent().addClass("error");
                        return;
                    }

                    if (PotholeCrewCountInput === null || PotholeCrewCountInput == '') {
                        $('#PotholeCrewCountBorder').addClass("error");
                        return;
                    } else if ( !is_numeric({str: PotholeCrewCountInput}) ) {
                        $('#PotholeCrewCountBorder').addClass("error");
                        alert(`Pothole Crew Count must be a number`);
                        return;
                    } else if ( PotholeCrewCountInput.toString().indexOf("-") !== -1 ) {
                        $('#PotholeCrewCountBorder').addClass("error");
                        alert(`Pothole Crew Count cannot a negative number`);
                        return;
                    } else if ( count_decimals({value: PotholeCrewCountInput}) > 2 ) {
                        $('#PotholeCrewCountBorder').addClass("error");
                        alert(`Pothole Crew Count cannot have more than 2 decimal points`);
                        return;
                    }

                    if (RegularHolesRepaired === null || RegularHolesRepaired == '') {
                        $('#RegularHolesRepairedBorder').addClass("error");
                        return;
                    } else if ( !is_numeric({str: RegularHolesRepaired}) ) {
                        alert(`Regular Holes Repaired must be a number`);
                        $('#RegularHolesRepairedBorder').addClass("error");
                        return;
                    } else if ( RegularHolesRepaired.toString().indexOf("-") !== -1 ) {
                        alert(`Regular Holes Repaired cannot a negative number`);
                        $('#RegularHolesRepairedBorder').addClass("error");
                        return;
                    } else if ( RegularHolesRepaired.toString().indexOf(".") !== -1 ) {
                        alert(`Regular Holes Repaired cannot a decimal number`);
                        $('#RegularHolesRepairedBorder').addClass("error");
                        return;
                    }

                    json_blob = {
                        "request_type"              : "PotholeData",
                        "date_of_repair"            : DateOfRepairInput,
                        "operation"                 : SelectOperationInput,
                        "borough"                   : SelectBoroughInput,
                        "crew_count"                : PotholeCrewCountInput,
                        "holes_repaired"            : RegularHolesRepaired,
                        "planned_crew_count"        : null,
                        "planned_date"              : null,
                    }

                    sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_update_potholes_data_api' %}", http_request_method="POST",
                        successCallbackFct=function(json_response) {
                            alert(`data saved successfully!`)
                            //alert(JSON.stringify(json_response, null, 2))
                        }),
                        failCallbackFct=function(json_response) {
                            alert(JSON.stringify(json_response, null, 2))
                        }
                })
            }

            function setup_potholes_data_group() {
                initialize_fomantic_dropdown({parent_id: 'SelectPotholeDataOperationBorder', select_id: select_pothole_data_operation_id, arr: operations_dropdown})
                $(`#${select_pothole_data_operation_id}`).on("change", function() {
                    setup_potholes_data_boro_dropdown_and_change_event();
                });
                setup_potholes_data_boro_dropdown_and_change_event()
                setup_potholes_data_save_btn();
            }

            function lookup_and_display_today_crew_group_data() {
                json_blob = {
                    "look_up_date": $('#TodayCrewDate').val(),
                    "operation": $(`#${select_today_crew_operation_id}`).val(),
                    "borough": $(`#${select_today_crew_boro_id}`).val(),
                }
                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_lookup_potholes_and_crew_data_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {

                        let daily_crew_count   = json_response.daily_crew_count == null   ? '' : json_response.daily_crew_count

                        $("#TodayPotholeCrewCount").val(daily_crew_count);

                    }
                )
            }

            function today_crew_change_event() {
                if ($(this).attr('id') == 'TodayCrewDate' && $(this).val() == "") {
                    // reset field values if user cleared the dates field
                    $('#TodayPotholeCrewCountBorder').removeClass("error")
                    $("#TodayPotholeCrewCount").val('')
                    return
                } else {
                    // Call lookup api to populate fields
                    // If the date input is not entered, skip the api call
                    if ($('#TodayCrewDate').val() == "") {
                        return
                    }

                    $('#TodayPotholeCrewCountBorder').removeClass("error")

                    lookup_and_display_today_crew_group_data();

                    return
                }
            }

            function setup_today_crew_group_change_event() {
                // Remove any existing identical event first
                $(`#TodayCrewDate, #${select_today_crew_operation_id}, #${select_today_crew_boro_id}`).off("change", today_crew_change_event);
                $(`#TodayCrewDate, #${select_today_crew_operation_id}, #${select_today_crew_boro_id}`).on("change", today_crew_change_event);
            }

            function setup_today_crew_boro_dropdown_and_change_event() {
                try {
                    let selected_op = $(`#${select_today_crew_operation_id}`).val();
                    setup_boro_dropdown({parent_id: 'SelectTodayCrewBoroughBorder', select_id: select_today_crew_boro_id, operation: selected_op});
                    setup_today_crew_group_change_event();
                } catch(e) {
                    throw `setup_today_crew_boro_dropdown_and_change_event(): ${e}`;
                }
            }

            function setup_today_crew_save_btn() {
                $('#SaveTodayCrewData').on("click", function() {

                    let TodayPotholeCrewCount       = $("#TodayPotholeCrewCount").val();
                    let TodayCrewDate               = $("#TodayCrewDate").val();
                    let SelectOperationInput        = $(`#${select_today_crew_operation_id}`).dropdown('get text');
                    let SelectBoroughInput          = $(`#${select_today_crew_boro_id}`).dropdown('get text');

                    $('#TodayPotholeCrewCountBorder'    ).removeClass("error");
                    $('#TodayCrewDateBorder'            ).removeClass("error");
                    $(`#${select_today_crew_operation_id}`     ).parent().removeClass("error");
                    $(`#${select_today_crew_boro_id}`   ).parent().removeClass("error");


                    if (TodayPotholeCrewCount == '') {
                        $('#TodayPotholeCrewCountBorder').addClass("error")
                        return
                    } else if ( !is_numeric({str: TodayPotholeCrewCount}) ) {
                        $('#TodayPotholeCrewCountBorder').addClass("error")
                        alert(`Today Pothole Crew Count must be a number`);
                        return;
                    } else if ( TodayPotholeCrewCount.toString().indexOf("-") !== -1 ) {
                        $('#TodayPotholeCrewCountBorder').addClass("error")
                        alert(`Today Pothole Crew Count cannot a negative number`);
                        return;
                    } else if ( count_decimals({value: TodayPotholeCrewCount}) > 2 ) {
                        $('#TodayPotholeCrewCountBorder').addClass("error")
                        alert(`Today Pothole Crew Count cannot have more than 2 decimal points`);
                        return;
                    }

                    if (TodayCrewDate === null || TodayCrewDate == '') {
                        $('#TodayCrewDateBorder').addClass("error");
                        return;
                    }

                    if (SelectOperationInput === null || SelectOperationInput == '') {
                        $(`#${select_today_crew_operation_id}`).parent().addClass("error");
                        return;
                    }

                    if (SelectBoroughInput === null || SelectBoroughInput == '') {
                        $(`#${select_today_crew_boro_id}`).parent().addClass("error");
                        return;
                    }

                    json_blob = {
                        "request_type"              : "TodayCrewData",
                        "date_of_repair"            : null,
                        "operation"                 : SelectOperationInput,
                        "borough"                   : SelectBoroughInput,
                        "crew_count"                : null,
                        "holes_repaired"            : null,
                        "planned_crew_count"        : TodayPotholeCrewCount,
                        "planned_date"              : TodayCrewDate,
                    }

                    sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_update_potholes_data_api' %}", http_request_method="POST",
                        successCallbackFct=function(json_response) {
                            alert(`data saved successfully!`)
                            //alert(JSON.stringify(json_response, null, 2))
                        }),
                        failCallbackFct=function(json_response) {
                            alert(JSON.stringify(json_response, null, 2))
                        }
                })
            }

            function setup_today_crew_group() {
                initialize_fomantic_dropdown({parent_id: 'SelectTodayCrewOperationBorder', select_id: select_today_crew_operation_id, arr: operations_dropdown})
                $(`#${select_today_crew_operation_id}`).on("change", function() {
                    setup_today_crew_boro_dropdown_and_change_event();
                });
                setup_today_crew_boro_dropdown_and_change_event();
                setup_today_crew_save_btn();
            }


            // Initializes the two groups of data
            setup_potholes_data_group();
            setup_today_crew_group();

            if ( document.getElementById('trigger_input') != null ) {
                document.getElementById('trigger_input').addEventListener("click", function() {
                    $('#modalForm').modal('show')
                });
            } else {
                alert(`Cannot find a div with the ID 'trigger_input'`)
            }

            // An initial load of the pothole and crew data if it already exists
            lookup_and_display_potholes_data_group_data();
            lookup_and_display_today_crew_group_data();

        });
        {% endif %}
    </script>
{% endblock custom_js %}