{% extends 'template.base.html' %}

{% block customize_logo_link %}
    {% url 'dailypothole_home_view' %}
{% endblock %}

{% block customize_home_link %}
    {% url 'dailypothole_home_view' %}
{% endblock %}
{% block customize_home_link_name %}
    RRM Daily Pothole Home
{% endblock %}

{% block customize_about_link %}
    {% url 'dailypothole_about_view' %}
{% endblock %}
{% block customize_about_link_name %}
    About
{% endblock %}

{% block customize_contact_link %}
    {% url 'dailypothole_contact_view' %}
{% endblock %}

{% block customize_nav_items %}
{% endblock %}

{% block custom_header_msg %}
{% endblock %}