{% extends 'DailyPothole.template.base.html' %}

{% load static %}
{% load tz %}
{% load extra_tags %}

{% block custom_css %}
    <!-- You MUST include jQuery before Fomantic -->
    <script src="{% static 'WebAppsMain/js/jquery/3.3.1/jquery.min.js' %}"></script>
    <script src="{% static 'WebAppsMain/fomantic-ui/2.8.7/semantic.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/fomantic-ui/2.8.7/semantic.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'WebAppsMain/DataTables/datatables.css' %}" />
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg">
        <h2 class="mt-3">
            CSV Export
        </h2>
        <div class="status_info err_msg">{% if not req_success %} Error: '{{ err_msg }}'<br>Please try reloading the page again!<br>Please contact ykuang@dot.nyc.gov with a screenshot if this error continues. {% else %}{% endif %}</div>
    </div>


    {% if client_is_admin %}
        <div class="ui horizontal divider">Date Range Summary: Choose a date range</div>
        <div class="ui one column stackable center aligned page grid">
            <div class="ui form">
                <div id="dateRangeSummaryInputBorderReportDateStart" class="field">
                    <input type="date" id="dateRangeSummaryInputReportDateStart" value="{{ today }}">
                </div>

                <div id="dateRangeSummaryInputBorderReportDateEnd" class="field">
                    <input type="date" id="dateRangeSummaryInputReportDateEnd" value="{{ today }}">
                </div>



                <div class="d-flex justify-content-center">
                    <button id="dateRangeSummarySubmit" class="btn btn-default">Get CSV</button>
                </div>

            </div>
        </div>


        <div class="ui horizontal divider">YTD Range For Last 5 Years Summary: Choose a yearly end date</div>
        <div class="ui one column stackable center aligned page grid">
            <div class="ui form">
                <div id="ytdRangeLastFiveYearsSummaryInputBorderReportDateEnd" class="field">
                    <input type="date" id="ytdRangeLastFiveYearsSummaryInputReportDateEnd" value="{{ today }}">
                </div>



                <div class="d-flex justify-content-center">
                    <button id="ytdRangeLastFiveYearsSummarySubmit" class="btn btn-default">Get CSV</button>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/CellEditSave.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'WebAppsMain/js/ApiCallWrappers.js' %}"></script>
    <script type="text/javascript" charset="utf8" src={% static 'WebAppsMain/js/FileSaver.min.js' %}></script>

    {% comment %} JS Datatable stuff {% endcomment %}
    <script>
        $(document).ready( function () {
            // Reset the default viewport from css class container to container-fluid
            $(".container").attr('class', 'container-fluid')


            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });




            $('#dateRangeSummarySubmit').on("click", function() {

                let StartDate = $("#dateRangeSummaryInputReportDateStart").val()
                let EndDate = $("#dateRangeSummaryInputReportDateEnd").val()

                $('#dateRangeSummaryInputBorderReportDateStart').removeClass("error")
                $('#dateRangeSummaryInputBorderReportDateEnd').removeClass("error")

                if (StartDate == '') {
                    $('#dateRangeSummaryInputBorderReportDateStart').addClass("error")
                    return
                }
                if (EndDate == '') {
                    $('#dateRangeSummaryInputBorderReportDateEnd').addClass("error")
                    return
                }

                json_blob = {
                    "start_date": StartDate,
                    "end_date": EndDate,
                    "type_of_query": "date_range_summary",
                }

                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_get_csv_export_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        //alert(`data saved successfully!`)

                        fun_bytes_str = json_response.post_csv_bytes
                        var blob = new Blob([fun_bytes_str], {type: "application/octet-stream"});
                        let start_date_name = `${ StartDate.substring(5, StartDate.length) + '-' + StartDate.substring(0, 4) }`  // Should be MM-DD-YYYY now
                        start_date_name = start_date_name.replace(/-/g, '.')  // Replace all instance of '-' with '.'
                        let end_date_name = `${ EndDate.substring(5, EndDate.length) + '-' + EndDate.substring(0, 4) }`  // Should be MM-DD-YYYY now
                        end_date_name = end_date_name.replace(/-/g, '.')  // Replace all instance of '-' with '.'
                        var fileName = `DateRangeSummary_${start_date_name}_to_${end_date_name}.csv`;
                        saveAs(blob, fileName);

                    },
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
                )
            })


            $('#ytdRangeLastFiveYearsSummarySubmit').on("click", function() {

                let EndDate = $("#ytdRangeLastFiveYearsSummaryInputReportDateEnd").val()
                let today = new Date()

                $('#ytdRangeLastFiveYearsSummaryInputBorderReportDateEnd').removeClass("error")

                if (EndDate == '') {
                    $('#ytdRangeLastFiveYearsSummaryInputBorderReportDateEnd').addClass("error")
                    return
                }

                if (parseInt(EndDate.substring(0, 4)) != today.getUTCFullYear()) {
                    alert(`You selected a date (${EndDate}) that is not in the current Calendar Year. Please pick a date in ${today.getUTCFullYear()}`)
                    return
                }

                json_blob = {
                    "start_date": null,
                    "end_date": EndDate,
                    "type_of_query": "ytd_range_last_five_years_summary",
                }

                sendModalFormDataToServer( json_blob=json_blob, api_url="{% url 'dailypothole_get_csv_export_api' %}", http_request_method="POST",
                    successCallbackFct=function(json_response) {
                        //alert(`data saved successfully!`)

                        fun_bytes_str = json_response.post_csv_bytes
                        var blob = new Blob([fun_bytes_str], {type: "application/octet-stream"});
                        let yyyy = EndDate.substring(0, 4)
                        let mm = EndDate.substring(5, 7)
                        let mm_letter
                        (mm == '01')
                            ? mm_letter = 'Jan'
                            : (mm == '02')
                                ? mm_letter = 'Feb'
                                : (mm == '03')
                                    ? mm_letter = 'Mar'
                                    : (mm == '04')
                                        ? mm_letter = 'Apr'
                                        : (mm == '05')
                                            ? mm_letter = 'May'
                                            : (mm == '06')
                                                ? mm_letter = 'Jun'
                                                : (mm == '07')
                                                    ? mm_letter = 'Jul'
                                                    : (mm == '08')
                                                        ? mm_letter = 'Aug'
                                                        : (mm == '09')
                                                            ? mm_letter = 'Sep'
                                                            : (mm == '10')
                                                                ? mm_letter = 'Oct'
                                                                : (mm == '11')
                                                                    ? mm_letter = 'Nov'
                                                                    : (mm == '12')
                                                                        ? mm_letter = 'Dec'
                                                                        : mm_letter = 'UnknownMonth'
                        let dd = EndDate.substring(8, 10)

                        var fileName = `YTDRangeSummaryForLastFiveYears_Jan.01_to_${mm_letter}.${dd}.csv`;
                        saveAs(blob, fileName);

                    },
                    failCallbackFct=function(json_response) {
                        alert(JSON.stringify(json_response, null, 2))
                    }
                )
            })


        });
    </script>
{% endblock custom_js %}